[2017-12-20 02:20] frankcarey opened #3 "Error when switching to the latest sdk"
NullReferenceException: Object reference not set to an instance of an object
Vimeo.VimeoPlayer.Start () (at Assets/Vimeo/Scripts/VimeoPlayer.cs:84)

Looks like you can add an object that doesn't have an audio-source as the audio source

[2017-12-20 02:32] frankcarey opened #4 "VimeoPlayer: You do not have access to this video's files"
Using 2017.2.1f1 Personal..

[code]

When just using the Prefab "Vimeo Player (Screen)" .. I even updated my token.   I was trying to use this video.. https://vimeo.com/22715565

[2017-12-20 02:36] frankcarey commented on #4
I should be a Pro user, and I tried one of my own videos, but I get the same error.. https://vimeo.com/246631329

[2017-12-20 02:47] frankcarey commented on #4
It looks like somehow the vimeoUrl field and the token field are linked such that when you add your token, it blows away the vimeo url and visa versa.
![wrong field](https://user-images.githubusercontent.com/377330/34188802-3683847e-e506-11e7-9a9e-fbc98634eefb.PNG)

[2017-12-20 02:51] frankcarey commented on #4
Also, you can't seem to type in your code (not that you would really want to, but there isn't an explicit "save" or something like that.. as soon as it gets a character, it assumes it was the full token.

[2017-12-20 13:35] caseypugh commented on #4
Yea this is the bug I mentioned yesterday that im working with Vimeo to resolve.

[2017-12-20 23:22] shaneguay commented on #4
I'm seeing the same error that @frankcarey  is seeing while using my Pro account.  It seems the returned json is not including the "files" collection.

When I run the same URL fetch command that its send through curl, I also don't get the "files" collection.

curl -H "Authorization: Bearer xxxxxxxxxxxxx" https://api.vimeo.com/videos/207184703

@caseypugh I assume this the problem on Vimeos end tha

[2017-12-21 15:45] caseypugh commented on #4
@shaneguay @frankcarey Yea, this is a problem on Vimeo's end unfortunately. I'm working on getting it resolved.

If you are looking for a short-term workaround, you can get a token from creating your own Vimeo developer app:
* Login to Vimeo
* Go to https://developer.vimeo.com/apps
* Create a new app
* Generate a new token for yourself to use in Unity

[2018-01-05 20:48] #3 closed

[2018-01-05 20:48] #4 closed

[2018-01-05 20:57] caseypugh commented on #3
Fixed in this release: https://github.com/vimeo/vimeo-unity-sdk/releases/tag/v0.8.3-beta

[2018-01-05 20:57] caseypugh commented on #4
Fixed in this release: https://github.com/vimeo/vimeo-unity-sdk/releases/tag/v0.8.3-beta

[2018-02-01 22:57] 78Star opened #6 "Video Quality defaulting to highest."
Hey I am using your plugin for a project I am working on, and I have had to change a few things to make it work/work cleaner, I will be posting my solutions over the next few weeks. Using unity 2017.3.0f3. First was that it was automatically going to the highest quality, this was because VimeoPlayer.GetPreferredQualities()
 wasn't determining if the quality selected existed, and just throughing th

[2018-02-01 23:00] caseypugh commented on #6
Thank you! If you have a fix please feel free to submit a pull request

[2018-02-06 09:16] giladshariv opened #7 "sound of the video"
what i need to do to play the original audio of the video file?

[2018-02-06 17:44] caseypugh commented on #7
Hi @giladshariv - the audio should play out of the box. What version of Unity are you using?

[2018-02-07 11:46] novavision opened #8 "complete mess with UnityEditor"
Hi,

Tried to migrate from 2017.2 to 2017.3,  used your last sources pack (unity package is far outdated) and just realised that it's not usable for mobile at all. Some scripts reference to other scripts which uses UnityEditor assembly, but you didn't add it to EditorFolder of #if UNITY_EDITOR check..

[2018-02-07 22:20] caseypugh commented on #8
thanks for the feedback! The unity package is definitely up to date https://github.com/vimeo/vimeo-unity-sdk/releases

But yes, if you are pulling down the code yourself you're going to run into a mess. Working on fixing that in this PR https://github.com/vimeo/vimeo-unity-sdk/pull/9

[2018-02-08 07:30] giladshariv commented on #7
2017.3.1

[2018-02-08 17:55] #6 closed

[2018-02-08 17:55] #7 closed

[2018-02-08 17:55] #8 closed

[2018-02-08 17:59] caseypugh commented on #8
Should be fixed. Grab the latest release here: https://github.com/vimeo/vimeo-unity-sdk/releases

[2018-02-08 17:59] caseypugh commented on #7
Should be fixed. Grab the latest release here: https://github.com/vimeo/vimeo-unity-sdk/releases

[2018-02-08 18:00] caseypugh commented on #6
Should be fixed. Grab the latest release here: https://github.com/vimeo/vimeo-unity-sdk/releases

[2018-03-27 21:05] caseypugh opened #12 "Support for recording from active camera"
Rather than just the `MainCamera`

[2018-03-27 21:26] caseypugh opened #13 "Record in standalone build"
Unfortunately, this is limitation of `MediaEncoder`, Unity's video encoder. Hopefully this changes in the future.

[2018-04-06 08:37] chelder86 opened #14 "Recording not available in the last Release."
### Describe the issue

It simple does not exist either in the Sample scene nor when trying to add the game object from the contextual menu:

![screen shot 2018-04-06 at 10 31 25](https://user-images.githubusercontent.com/3020189/38410915-24f59d94-3986-11e8-9c59-d019f0847a8c.png)

### Steps to reproduce the problem

I just downloaded the latest Release (0.9). Maybe it simply not included by mistak

[2018-04-06 08:49] chelder86 commented on #14
If instead using the Release version, I clone the repository to drag and drop the files into Unity, the game object is in the scene:

![screen shot 2018-04-06 at 10 42 00](https://user-images.githubusercontent.com/3020189/38411624-c6dc8afe-3987-11e8-872e-8a3dd1c79f21.png)

However it's not available on the contextual menu. The reason seems to be that at the top of VideoRecorder.cs is written:

`#i

[2018-04-06 11:54] chelder86 commented on #14
I'm silly, I can just duplicate my Unity project.

[2018-04-06 11:54] #14 closed

[2018-05-16 16:21] retrophil opened #15 "Can't build"
### Describe the issue
Try to build and given 6 errors
### Steps to reproduce the problem
Build to either platform
### Unity version
Unity 2018.1.0f2
### Operating system
Windows 10 64bit
![image](https://user-images.githubusercontent.com/6378160/40129947-89a050d8-592d-11e8-8e35-c916e30bc12f.png)

[2018-05-17 19:43] #15 closed

[2018-06-12 10:19] TengkuFathullah opened #18 "Video streaming problem with android huawei tablet"
The video player works in unity editor, but when I build single scene on android Huawei tablet, the video not working, but the audio is fine even with seeking.

I am using Unity version 2017.2.0f3

build on android Huawei Mediapad T2, Model : BG0-DL09

![screenshot_2018-06-12-17-54-31](https://user-images.githubusercontent.com/17969112/41284863-273e68bc-6e6d-11e8-982c-16c12b956e76.png)

[2018-06-12 15:38] caseypugh commented on #18
Thanks @TengkuFathullah - Can you share a Vimeo link to the video you are testing so I can recreate?  It might be worth testing this locally too, using the Unity [VideoPlayer](https://docs.unity3d.com/ScriptReference/Video.VideoPlayer.html)... perhaps an issue with the core component itself..

[2018-06-13 04:33] TengkuFathullah commented on #18
@caseypugh https://vimeo.com/274647009, I tried built on IOS, both Unity VideoPlayer and VimeoSDK is working, but not for android, I guess it might be related to that specific device. I cant check with other android models for now.

[2018-06-19 15:06] caseypugh commented on #18
I'm going to close this issue since this bug seems to be specific to Unity's native `VideoPlayer`. I'd suggest filing feedback to the Unity team directly.

[2018-06-19 15:06] #18 closed

[2018-07-01 06:13] kentbarber opened #19 "iOS"
### Describe the issue
Is this supposed to work if you create an iOS App? I can stream a video to the Editor in Unity but I do not see anything when exported out to iOS.

### Steps to reproduce the problem
I used the 360Video scene, added my Vimeo account, added a URL to a video, tested in the editor. Then exported out to iOS. I compiled the project with Cardboard, then Vuforia, then None, in the

[2018-07-02 14:15] caseypugh commented on #19
Yes it should work. Just tested in `2018.1.6f1` Did you try checking the box `Save token with object`?

If you're not sure, when you sign into the `VimeoPlayer` component, check the box `Save token with object`. Otherwise it saves it to your local computer rather than the scene itself and won't make it into the iOS build.

[2018-07-02 20:39] kentbarber commented on #19
I just realised that my account Plus and this plugin only works for those with the Pro subscription. That is a shame. Thanks for you help.

[2018-07-02 21:24] caseypugh commented on #19
Yeah, it's there for security reasons, but that flow for setting up the token and deploying to builds needs to be improved. Thanks for the feedback.

Sorry to hear that the subscription is an issue. Just curious, can you tell me what your use case is for leveraging Vimeo in Unity?

[2018-07-02 21:36] kentbarber commented on #19
I was interested in seeing how the workflow would be for creating interactive experiences over the top of 360 videos, as well as possibly linking through multiple 360 videos to explore a city.

I normally would go native and stream from AWS, but was curious to see how your platform works with Unity since I am using Unity at the moment and if it works then I would look at other possible uses.

Are

[2018-07-02 21:57] caseypugh commented on #19
Thanks for the info!

Vimeo and this plugin already supports stereo 360 content.

We have no plans to support foveated streaming at the moment, however we do support adaptive streaming (HLS & DASH). I'm currently working on updating the plugin to support adaptive playback (see https://github.com/vimeo/vimeo-unity-sdk/pull/20), which would also allow you to do live video, too.

[2018-07-02 22:14] kentbarber commented on #19
Does the stereo 360 require google cardboard in Unity? What formats does Vimeo accept for stereo 360 video?. Equirectangular, cube maps or both?

Great to hear you will support live video. This is 360 and stereo 360 live transcoding I assume?

This offers up some interesting possibilities having this live via Unity. Takes away a lot of the setup hassles.

Best of luck with it all. Unfortunately si

[2018-07-02 22:45] #19 closed

[2018-07-02 22:58] caseypugh commented on #19
We support equirectangular 360 and top/bottom for stereo. [Read more](https://help.vimeo.com/hc/en-us/articles/115001877167-Uploading-360-video). And yes, it hypothetically supports live 360, although I have not tested it, yet.

The plugin simply just streams video into Unity using their native `VideoPlayer`. From there, your only limitations are what Unity can do, which is a lot! e.g. Make a 360

[2018-07-02 23:03] kentbarber commented on #19
Thanks for the info!

[2018-07-03 12:16] c-andrews opened #21 "Download videos (Offline sync/cache)"
Is there a way to download and save the videos at a specific resolution so that I can use the videos offline?

[2018-07-03 14:25] caseypugh commented on #21
Not right now, but will keep it in mind! Curious, can you tell me more about why you need this feature?

[2018-07-03 14:54] c-andrews commented on #21
I am currently developing a VR app for an event so they would like to "cache" the videos just in case the wifi connection drops

[2018-07-06 20:04] caseypugh commented on #13
This is now possible with AVPro Movie Capture on Windows (see #20)

[2018-07-06 20:04] #13 closed

[2018-07-06 20:05] caseypugh commented on #12
AVPro Video solves this but hope to add to core plugin as well in the future (see #20)

[2018-07-06 20:05] #12 closed

[2018-07-06 22:57] caseypugh commented on #15
Just FYI - this fix is now in the latest release https://github.com/vimeo/vimeo-unity-sdk/releases

[2018-07-11 14:11] caseypugh opened #23 "Can't upload very large video files to Vimeo"
### Describe the issue
When recording a longer, higher quality video (e.g. using AVPro Movie Capture), the file can be pretty big (> 3GB). The way file uploading works is using `File.ReadAllBytes`, but this will freeze/crash Unity for large files.

Need to upgrade uploader to Tus https://medium.com/vimeo-engineering-blog/vimeo-is-adopting-tus-d5e999acd517 to support chunked uploading

[2018-07-11 14:24] AbdullahMH95 opened #24 "empty screen (white)"
### Describe the issue
Hi everyone.

After sign-in in unity and Vimeo and add my video from "most recent videos" and play the scene I can't see my video it says:

ArgumentOutOfRangeException: Argument is out of range.
Parameter name: index
System.Collections.Generic.List`1[SimpleJSON.JSONNode].get_Item (Int32 index) (at /Users/builduser/buildslave/mono/build/mcs/class/corlib/System.Collections.Gen

[2018-07-11 14:34] caseypugh commented on #24
Hi @AbdullahMH95 - can you share a link to the video you are trying to play? Thanks!

[2018-07-11 15:35] AbdullahMH95 commented on #24
Hi @caseypugh Thanks for your support, I am trying to play: https://vimeo.com/277989198

[2018-07-11 16:05] caseypugh commented on #24
thanks - are you the owner of this video? Are you this user? https://vimeo.com/user927525

Reminder: this plugin only allows you to stream videos from your own Vimeo account: https://github.com/vimeo/vimeo-unity-sdk#streaming-requirements

[2018-07-11 18:30] AbdullahMH95 commented on #24
No but also I am trying with my video see: https://vimeo.com/279418136
Here I am the owner. I am trying with another video to check if the issue with my video or no.

best regards

[2018-07-11 19:15] tommypenner commented on #23
@caseypugh FWIW when working with another user implementing chunked tus uploads, we observed very slow/poor performance with small chunks (<10mb). Upload team recommends chunks in 128mb+ sizes for quicker uploads.

[2018-07-11 20:35] caseypugh commented on #24
Ah, thanks. It's because you are a Basic Vimeo user. Streaming videos is limited to Pro & Business accounts.

https://github.com/vimeo/vimeo-unity-sdk#streaming-requirements

[2018-07-11 20:35] #24 closed

[2018-07-11 21:16] caseypugh commented on #23
thank you!

[2018-07-21 05:10] prakshif opened #26 "On recording video upload i have getting 404 error due to slack token value is null and how to get that anyone help me?"
### Describe the issue

### Steps to reproduce the problem

### Unity version

### Operating system

[2018-07-21 05:15] prakshif commented on #26
open the recorder scene get the token for Vimeo Login and create the app and copy past the token that time error [VimeoApi] 404 Something strange occurred. Please try again.

and Slack Token how to get

[2018-07-23 20:22] c-andrews opened #27 "Videos not displaying on Android"
I am using the Vimeo 360 Video prefab but when I stream the videos on Android the audio plays but the video does not display within a sphere. When it first plays i see a flicker of the first frame but after that I don't see anything.

The audio plays all the way through with the videoPlayer triggering the loopPointReached event.

Any ideas what might be going on? The only errors in LogCat is this:

[2018-07-23 20:33] c-andrews commented on #27
This is happening on:
Samsung Galaxy S6 - Android 7.0,
Huawei MediaPad - Android 7.0,
Oculus Go

I've just seen these errors in LogCat on the Galaxy:

_E/OMXNodeInstance: getConfig(c2800e1:Exynos.avc.dec, ConfigCommonOutputCrop(0x700000f)) ERROR: NotReady(0x80001010)
E/libexynosv4l2: failed to ioctl: VIDIOC_G_CTRL (22 - Invalid argument)
E/OMXNodeInstance: getConfig(c2800e3:Exynos.avc.dec, ConfigC

[2018-07-24 19:31] c-andrews commented on #27
Im not sure if it helps or not but after disabling VR support the video stream works. Activating it again seems to break it so i'm not really sure what is going on behind the scenes.

[2018-07-25 20:33] SurelyExploding commented on #26
I'm having the same issue. The setup seems to be working, the account is on Vimeo Pro, but it's still returning a 404. A different computer running a different but supported version of unity yielded the same results.

[2018-07-25 21:39] caseypugh commented on #26
Sorry for the issues, we are looking into it.

[2018-07-25 22:05] caseypugh commented on #26
This should be fixed and should automatically start working for you. There was an issue with Vimeo's API that I had resolved with the team.

Sorry for the trouble and let me know if you both run into any more issues.

[2018-07-25 22:05] #26 closed

[2018-07-26 13:57] c-andrews commented on #27
So i've managed to get around my issue. It looks like it is something to do with the texture assignment when the video starts playing.

I've currently cheated by assigning the Unity VideoPlayer component to the VideoController and manually setting up the render mode and target texture. In VideoController I removed the WaitForRenderTexture function.

I have a feeling the yield in the function is pr

[2018-07-31 14:35] juniorxsound commented on #27
Thanks a lot for the details!

It seems that while getting rid of the `yield` and manually setting up the render mode solves some of the problems it still cuts from time to time. I will look into the problem further and report back

[2018-08-08 22:11] juniorxsound opened #29 "Enumrate errors and responses from the API"
### Describe the issue
Error messages for various `VimeoAPI` responses are currently passed on as strings from the `VimeoApi` class. Given there are many responses from the API (e.g Quota exceeded, No access to a file...etc) it would make sense to enumerate these responses into something like `Vimeo.ERROR.QUOTA_EXCEEDED`

[2018-08-09 14:54] demanzonderjas opened #30 "AVPro Video Trial not exposing MediaPlayer to SDK?"
### Describe the issue

I have downloaded the free trial of AVPro Video and added both that package and the Vimeo Unity SDK to a demo scene. The Vimeo SDK doesn't seem to recognise the existence of the player, since I cannot select it as my main Video Player in the [VimeoPlayer] component.

We would like to stream Vimeo Live via the combination of these two packages in a Unity Scene (AR, eventuall

[2018-08-09 15:18] caseypugh commented on #30
That's very odd. As soon as the MediaPlayer is added to your project, the Vimeo Plugin should automatically detect it.

What is happening behind the scenes is that we are using the `AssetPostprocessor` to automatically add a custom `define` in your Unity project. This define tells the `VimeoPlayer` to expose a new option in the GUI.

See: https://github.com/vimeo/vimeo-unity-sdk/blob/master/Assets

[2018-08-10 06:45] demanzonderjas commented on #30
@caseypugh thanks for the quick reply.

[2018-08-10 06:50] #30 closed

[2018-08-13 15:18] juniorxsound commented on #27
Updating that [the fix](https://github.com/vimeo/vimeo-unity-sdk/pull/31) was merged into master. Thanks for the details @c-andrews, I am closing this issue but if you are still experiencing issues feel free to open a new one.

[2018-08-13 15:18] #27 closed

[2018-08-17 19:27] MassfireMusic opened #32 ""Save token with scene" option missing"
### Describe the issue
The "Save token with scene" option in vimeo player as described in readme is missing. When building no video is streaming.

### Steps to reproduce the problem
Created scene and draged in vimeoplayer prefab. Generated token and signed in through inspector. Expected "Save token with scene" option which is not present. Streaming working perfectly in editor. Not in builds to Web

[2018-08-20 14:14] juniorxsound commented on #32
Thanks for the details 🙌, looking into this issue

[2018-08-20 14:53] juniorxsound commented on #32
The SDK should inject the token automatically during the build process, so you shouldn't have to worry about that anymore. Thanks for pointing it out, I will revise the `README` to avoid confusion.

I tested it on my end, and it seemed to produce a working build (macOS, Unity 2018.2.1f1), can you create a `.unitypackage` from your project and share it with us? Feel free share it here or via labs@v

[2018-08-20 18:31] MassfireMusic commented on #32
Thanks @juniorxsound for helping!
Trying now to build to Windows again on my end, and it worked as expected (classic, just try again and it works ;)

WebGL still no video, just sound. I'm assuming this has to do with the .env file holding VIMEO_TOKEN variable described in [vimeo-webvr-demo](https://github.com/vimeo/vimeo-webvr-demo). Is this the process for vimeo-unity-sdk WebGL builds as well? Or

[2018-08-20 20:20] juniorxsound commented on #32
No problem, and thanks again for the details!

I think I may have confused you by sharing that WebGL link. That has nothing to do with Unity, ignore me  🙏🏼

Just tested WebGL export from Unity on my end, initially was getting audio only, but by decreasing the video resolution to a smaller version, was able to get it to work. I tested using Chrome v68. Have you tried selecting a smaller version of

[2018-08-22 18:45] MassfireMusic commented on #32
Tried this (using Build & Run with Chrome v68) :

- Lowering (and raising) resolution.
- Streaming another video (in 16:9 aspect ratio)

No change, just sound without picture.
Bit at a loss, thanks again

[2018-08-23 16:48] juniorxsound commented on #32
Hi @MassfireMusic, happy to help!

I was able to recreate the sound (no video) when using the Vimeo Player (Canvas) version, but when I choose the Vimeo Player (Plane) option, it seems to resolve the issue on my end. This seems like a browser limitation issue with the WebGL exporter, but using the plane option you should be able to get around that. Can you test this?

<img width="547" alt="vimeo_u

[2018-08-25 18:10] MassfireMusic commented on #32
Hi again @juniorxsound !
The plane option works here as well, at least for 720p. 1080p stops at first frame but minor issue at the moment. Thanks!
I can work with this but since my implementation requires the use of a canvas and UI elements I need to rethink my implementation. Can I conclude that rendering the video inside the canvas for WebGL builds is not gonna work within the near future? Your

[2018-08-27 20:49] caseypugh commented on #32
Hey @MassfireMusic - chiming in here for @juniorxsound. It's strange, but yes it looks like you will need to find an alternate solution for the canvas in the short term.

I definitely had tested the Canvas scene in WebGL in the past and it worked - I tried an older version of our plugin and older versions of Unity and still couldn't get it working. Perhaps there is a change in how Unity builds Web

[2018-08-27 20:49] #32 closed

[2018-08-27 20:51] caseypugh opened #33 "Canvas video playback does not work in WebGL"
### Describe the issue
If you try to export a Unity scene that uses the Vimeo video canvas, it doesn't show the video. It only plays the audio.

### Unity version
Tested on `2017.1` and `2018.1`

### Operating system
Windows & Mac

(also see #32)

[2018-09-06 11:21] ragecryx opened #37 "Missing token in WebGL builds"
### Describe the issue
I build for WebGL and the token is missing (either stripped by the building process or not included at all). I see that there is a ```VimeoSettings``` class that is used in ```VimeoBuildProcessor``` to set the token on build but nowhere in the README file says I should include a ```VimeoSettings``` component in the scene. Is the documentation missing something? Should the ``

[2018-09-07 10:12] ragecryx commented on #37
I checked out your repo, built one of your scenes for WebGL and it seems to bundle the token properly. I also tried building the project in OSX 10.12.6 with Unity 2018.2.1f1 but the issue persists.

I also checked the actual playerprefs file and the token is stored properly inside.
Any more ideas?

[2018-09-07 12:04] ragecryx commented on #37
Ok, another update. The ```VimeoBuildProcessor```'s ```OnProcessScene``` assumes that the player will be direct child of the scene root. My setup positions ```VimeoPlayer``` in a (not so complex but quite deep) hierarchy of Canvas/UI elements thus not being able to be found by the build processor.

I'm going to fix that for my project, so do you accept pull requests regarding this or it's somethin

[2018-09-13 13:30] ROBYER1 opened #38 "Token missing from build if VimeoPlayer component is on a child gameobject in scene"
### Describe the issue
The VimeoBuildProcessor's OnProcessScene assumes that the player will be direct child of the scene root. My setup positions VimeoPlayer in a gameobject parented to a gameobject that is used for other means (Augmented reality tracking) thus not being able to be found by the build processor.

Issue #37   also mentions this exact same problem and suggests a pull request for it

[2018-09-14 17:28] caseypugh commented on #38
Hey @ROBYER1 thanks for reporting this and pardon the delayed response. We will definitely fix this ASAP.

[2018-09-14 18:07] caseypugh commented on #38
I opened a PR (#39) which should resolve this issue. If you want to test it, try updating your `VimeoBuildProcessor.cs` with [latest version here](https://github.com/vimeo/vimeo-unity-sdk/blob/fix/build-processor/Assets/Vimeo/Scripts/Editor/VimeoBuildProcessor.cs)

[2018-09-14 18:08] caseypugh commented on #37
Hey @ragecryx - sorry for the trouble and thanks for uncovering the issue. We definitely accept PRs!  Although I went ahead and created one which should resolve the issue (see #39)

[2018-09-17 17:35] poornerd commented on #4
@caseypugh what was the problem?  I am also having the same problem with some code I wrote myself.  (files is empty even though I have a pro account).  Could it be additional permissions that the token needs?

[2018-09-18 15:41] caseypugh commented on #4
@poornerd yes it could be that, but it's hard to say for sure. Need more information about how you generated your token and the custom code you have wrote.

[2018-09-18 21:20] #37 closed

[2018-09-18 21:20] #38 closed

[2018-09-25 14:55] ROBYER1 commented on #38
Works like a charm, thankyou so much for fixing this, saved me having to parent loads of objects at runtime!

[2018-09-25 20:10] hugostudica opened #41 "VimeoPlayer.Play() not working."
I am trying to create a player in unity canvas, so I disabled **autoPlay** in the inspector of VimeoPlayer and then I am loading a video using:
`VimeoPlayer.LoadVimeoVideoByUrl(url);`

And then when the player press a button I use:
`VimeoPlayer.Play();`

![screen shot 2018-09-25 at 17 08 15](https://user-images.githubusercontent.com/43586991/46040096-c9c56200-c0e5-11e8-8e37-365127e0504e.png)

But

[2018-09-25 20:36] caseypugh commented on #41
Thanks @hugostudica - we'll look into it.

[2018-09-26 18:35] hugostudica commented on #41
@caseypugh Thank you, I wrote it wrong, it is `VimeoPlayer.Play()` on step 5 my mistake.

So I've tried this workaround, and I am stuck with another thing. If I set the url via inspector and call `VimeoPlayer.Play()` it works, but if I try to load a new video from url `VimeoPlayer.LoadVimeoVideoByURL(url)`, suddenly the first action stops working. Here's my testing code:

[code]

Thank you, for yo

[2018-09-26 18:55] caseypugh commented on #41
No worries at all and thanks for using the plugin! Appreciate you trying to script the Vimeo Player, because it is uncovering a lot of bad code design :)

So, `OnLoad` is kind of confusing. It is called when the `VimeoPlayer` is setup (after `Setup()` is automatically called). Perhaps I should rename to `OnInit` or `OnBootup`.

If you want to know when the video is loaded, use `OnVideoStart` inste

[2018-09-26 19:58] hugostudica commented on #41
Thanks again, but it's not working yet.
`player.IsPlayerLoaded()` is always false, I've forced `player.LoadVimeoVideoByURL(url)` and after that the player return true to `IsPlayerLoaded()` and the inspector change its visual,  but the callback wasn't invoked and when I hit the green button `Play Video` nothing happened.

I think there's some problem to the 'VimeoPlayer.Play()` method, something in

[2018-09-26 20:06] caseypugh commented on #41
Just checking, did you try updating your `VimeoPlayer.cs` with the latest changes from #42 ?

[2018-09-26 20:15] hugostudica commented on #41
Yes, I've copied the code to the `VimeoPlayer.cs` the behavior changed a little bit, but after calling `LoadVimeVideoByURL(URL)` the `Play()` stop working again.

[2018-09-26 21:50] caseypugh commented on #41
Yea, I see the issue... mostly the problem is that the autoplay/loading/playing logic is all intertwined in a bad way. Needs to be decoupled.

The short term solution would be to add `player.autoPlay = true` before calling `LoadVimeoVideoByUrl` to make it play after loading.

[2018-09-28 16:31] #41 closed

[2018-09-28 16:32] caseypugh commented on #41
OK, did quite a bit of refactoring to make it all much simpler. See #43. It's in master now, and eventually will make it into `0.9.3` release.

[2018-10-01 09:44] ROBYER1 opened #45 "Saving the Token with the Unity Project - Is this possible?"
### We build our app across a mac and a windows PC, the project is shared with Unity Teams Git so that it is shared between the PCs - during our testing of our app, sometimes I will build the app only to find that the Vimeo Token is missing and the vimeo plugin then doesn't work, but this seems to be intermittent. We are saving the scene that contains the scripts with the token inbetween working o

[2018-10-01 17:28] juniorxsound commented on #45
Thanks a lot for the details @ROBYER1.

The token solution is designed this way by intention. The best practice is to not commit your tokens with your code, even if the repository is private. As a team you only need to login once on each machine, which should work locally but won't get committed. If this doesn't work, it could be an issue, is this the case?

Otherwise, you could hack the plugin to

[2018-10-01 17:31] #45 closed

[2018-10-22 22:17] oitoporoito opened #47 "Errors on Play"
### Describe the issue
I get an error message on the console:

NullReferenceException: Object reference not set to an instance of an object
Vimeo.Player.VimeoPlayer.LoadVimeoVideoByUrl (System.String vimeo_url) (at Assets/Vimeo/Scripts/Player/VimeoPlayer.cs:95)
UnityEngine.Events.InvokableCall`1[System.String].Invoke (System.String args0) (at /Users/builduser/buildslave/unity/build/Runtime/Export/

[2018-10-23 11:48] oitoporoito commented on #47
I just realized that I put it inside another Canvas. Sorry.

[2018-10-23 11:48] #47 closed

[2018-10-25 23:48] juniorxsound commented on #23
This is now [available the latest release](https://github.com/vimeo/vimeo-unity-sdk/releases/latest) 🎉

[2018-10-25 23:48] #23 closed

[2018-11-03 14:08] michaelboccara opened #51 "JSON build error"
### Describe the issue
Build errors:

Assets/Vimeo/Scripts/Player/VimeoPlayer.cs(339,34): error CS0234: The type or namespace name `Parse' does not exist in the namespace `JSON'. Are you missing an assembly reference?
Assets/Vimeo/Scripts/Recorder/VimeoPublisher.cs(55,42): error CS0234: The type or namespace name `Parse' does not exist in the namespace `JSON'. Are you missing an assembly reference

[2018-11-03 14:37] caseypugh commented on #51
Thanks for reporting. Will look into it.

[2018-11-03 16:04] michaelboccara commented on #51
Just search and replace JSON.Parse with JSONNode.Parse

[2018-11-05 20:49] caseypugh commented on #51
I'm unable to recreate this issue in `2018.2` and `2017.3.1f1`. `JSON.Parse` [should exist](https://github.com/vimeo/vimeo-unity-sdk/blob/master/Assets/Vimeo/Scripts/Utils/SimpleJSON.cs#L1427). Is it possible you have a class called JSON that is conflicting?

[2018-11-07 16:48] caseypugh commented on #51
@michaelboccara which platform were you building for? Windows?

[2018-11-08 15:22] LeXuSMalus opened #52 "Video freezes on Android"
### Describe the issue
After a few minutes of playing the video, it freezes.
With the same video, this happens at about the same time at a difference of a few seconds.
Logs:
11-08 13:20:27.770: E/MM_OSAL(1071): Mpeg4File::mp4ReadStatus Failed to readFile
11-08 13:20:27.770: E/MM_OSAL(1071): Read File Error!
11-08 13:20:27.770: E/MM_OSAL(1071): Mpeg4File::mp4ReadStatus VIDEO_FMT_FAILURE
11-08 13:20

[2018-11-08 15:59] LeXuSMalus commented on #52
Unity 2018.1.0f2 the same thing happens

[2018-11-11 20:16] michaelboccara commented on #51
Hi, ok I know why the problem is happening with me only: I have other JSON packages installed in my project (with JSON as a namespace rather than a static class). Still strange that the compiler handles this ambiguity in such a bad way. For this package I guess it would be safer to use an explicit naming Vimeo.SimpleJSON.JSON. Or at least SimpleJSON.JSON.

[2018-11-21 04:57] neuro3d opened #53 "Vimeo 360 player using Google Cardboard modules in Unity?"
### Describe the issue

Google Cardboard modules and head movement appear to not function properly when a VimeoPlayer 360 prefab is included in the project. Is this a known thing?

### Steps to reproduce the problem
Create a scene, drop in Google cardboard modules:
GVRControlerMain
GVREventSystem
GVREditorEmulator
as well as
VimeoPlayer360 (or even the flat VimeoPlayer)

And when compiled for iOS,

[2018-11-21 15:42] juniorxsound commented on #53
Hi @neuro3d, thanks for the details!

This sounds like a GVR build setting issue. I tried replicating the problem and was able to get it to run doing:
1. Downloaded the [latest GoogleVRForUnity package](https://github.com/googlevr/gvr-unity-sdk/latest)
1. Imported the package and added `GVRControlerMain` and `GVREditorEmulator `
1. Before you build, make sure to go into Build Settings / XR and tur

[2018-11-21 17:50] juniorxsound commented on #52
Hi @LeXuSMalus, thanks for the details - the Unity `VideoPlayer` on Android [has a lot of open issues](https://unity3d.com/search?refinement=issues&gq=android%20video%20playback)! What type of device and Android version are you using?

Can you try adding this:
[code]
To line 195 of - [Assets/Vimeo/VideoController.cs](https://github.com/vimeo/vimeo-unity-sdk/blob/master/Assets/Vimeo/Scripts/Player/

[2018-11-21 22:17] neuro3d commented on #53
Thanks so much for this! I was indeed able to get it to build properly for cardboard. However I am having trouble getting this to work for the 360 degree player prefab. I can't tell if it's an issue with centering of the main camera or GVRController Main. The 360 player prefab inserts a sphere, do I need to be inside? particular angle?

(In the past just using Unity's video player with a spherical

[2018-11-27 00:49] juniorxsound commented on #53
@neuro3d Happy it solved it!

Your camera does need to be centered inside the sphere. It seems the GVRController is centering the camera to (x: 0, y: 0, z: 0) on launch. Did you try repositioning the 360 Player prefab at 0?

[2018-11-27 07:27] FirstSuns opened #54 "Support files json response in addition to play"
please help me as soon as possible
I used your unity package fro Vimeo player(vimeo-0.9.3,  2018.10.25)
But it doesn't work
I used unity5.6.4p2(64bit)

I checked from debug
VimeoVideo.cs/
public VimeoVideo(JSONNode video)

there is no field "play" in video parameter
  "if (video["play"] != null) {"

video parameter :  "{\"uri\":\"\\/videos\\/302984985\", \"name\":\"BodyScan\", \"description\":null

[2018-11-27 19:40] caseypugh commented on #54
Hi @FirstSuns - I dug into your Vimeo account and it looks like you are using a token from your own Vimeo developer app, which is totally fine, except I will need to enable some permissions for your account to make it work. Can you share the ID of your developer app so I can fix?

[2018-11-28 11:01] michaelboccara opened #55 "Enable replacing video file"
There is no way to replace an existing vimeo video.
This has been asked here:
https://stackoverflow.com/questions/53497622/vimeo-unity-sdk-how-do-i-replace-an-existing-video

Maybe make it implicit when uploading video with same name and same project ?

[2018-11-28 19:10] caseypugh commented on #55
Thanks for filling here!

Replacing by video name & project is interesting but wouldn't say that is always the expected behavior. We'd probably want to give users some sort of drop-down selection of which video they want to replace (and just specify video ID via script)

Just curious, what are you working on / what is your use case?

[2018-11-28 20:34] caseypugh commented on #55
Amazing. We just discovered blueturn earlier this morning - it's so cool! I'm going to reach out to you over email if that's OK :)

[2018-11-28 20:36] michaelboccara commented on #55
Really ? What a coincidence! Feel free to contact me.

On Wed, 28 Nov 2018 at 22:34, Casey Pugh <notifications@github.com> wrote:

[2018-11-29 10:55] ragecryx commented on #54
I was about to open a new issue for this one too. It seems that the Vimeo API returns the file entries in ```files``` key not in ```play```. So I did some quick changes in ```VimeoVideo.cs:81``` so it looks like:

[code]

[2018-11-29 19:45] caseypugh commented on #54
I think that's fair feedback. I updated this issue to reflect your comment.

We support `play` because it is a more modern API response from Vimeo, but requires special app priveledges. You're the first to use your own developer app, so thanks for pointing this out. We will look into making a fix.

[2018-11-29 19:56] caseypugh commented on #54
And PRs are welcome :)

[2018-12-03 10:38] AndrewRH opened #56 "Adaptive Video doesn't work with AVPro Video on Windows"
### Describe the issue
When selecting the adaptive option and using AVPRo Video on Windows, the stream doesn't open (may be PC configuration / OS version specific).

It seems to be related this method GetAdaptiveVideoFileURL() which returns an HLS stream for Apple, and a DASH stream for everything else (Windows and Android mainly).

### A possible fix

Perhaps there should be an option to rather e

[2018-12-03 15:06] juniorxsound commented on #53
@neuro3d closing this issue since the problem seems to be resolved, but feel free to re-open/comment if it is still an issue.

[2018-12-03 15:06] #53 closed

[2018-12-05 13:27] MZNX-AlCampbell opened #57 "NullReferenceException when linking Vimeo Player with AVPro Video"
Working on a project in Unity 2017.4.16f1 (macOS Mojave 10.14) with both Vimeo Player and AVPro Video, I have set up the MediaPlayer such that I can play local files or files from Google Drive just fine, but I get a NullReferenceException when I run in-editor with the Vimeo Player added, which prevents the URL from being set on the AVPro MediaPlayer.

The VimeoPlayer component has been set up as p

[2018-12-06 11:31] MZNX-AlCampbell commented on #57
Further to the above, I have tested the issue using Unity 2017.4.15f1 on Windows x64 and on Unity 2017.4.10f1 on macOS Mojave, using different forms of the player (including editing all the demo scenes that come with AVPro Video to use a Vimeo Player), but the same bug occurs in all instances.

[2018-12-06 15:32] caseypugh commented on #56
Thanks for filing this @AndrewRH - this is a known issue on Windows and is a problem with the way Vimeo has structured its DASH manifest files. We are working on a fix.

And that is probably a good idea re: exposing HLS & DASH. We just wanted to make it simple for people to not have to worry about which adaptive type to select.

[2018-12-06 15:51] juniorxsound commented on #57
Hi @MZNX-AlCampbell  thanks for the details!

I am having a hard time replicating this issue. I am using the same Unity version on Windows 10 (x64) and it seems to be working on my end. Did you add an `Apply To Material` component to the screen GameObject?

To get rid of the first file path error that AVPro throws try checking off the Auto Play and Auto Open options
![autoplay](https://user-images

[2018-12-08 19:57] FirstSuns commented on #54
Thanks.
after fix, It works well on unity5.6.4
but after build apk for android, player doesn't work on android. I can't see any video on android device
what is matter?
what do I set more for android and ios?

[2018-12-08 20:08] FirstSuns commented on #54
Hello
I am waiting your reply
what do I need to set more for android and ios version?
I use unity5.6.4 now
I think your plugin doesn't work on android and ios
please help me

[2018-12-09 04:00] FirstSuns commented on #54
Hello
I am waiting your reply.
I used your unity package fro Vimeo player(vimeo-0.9.3, 2018.10.25)
I tested unity5.6.4 and unity2018.2.14 for android
it didn't work for android
please help me

[2018-12-09 11:30] ragecryx commented on #54
You mean the video is not *loading* or it's not *rendering*? If it's not rendering it's probably a totally different issue. Try switching the rendering of the video between canvas and mesh/material override and see what works best for you.

[2018-12-09 11:38] FirstSuns commented on #54
I am not sure
I need canvas for video
I will upload my demo project on unity5.6.4
https://mega.nz/#!6SZ3SapB!eUFb8e5ZkKuV_FtGu9TbLZJnqGwXP64zTdNHnUaqG5s
it is same with unity2018.2.1.14

token  6dc4019b45839f5b5eb890899be8c996
url https://player.vimeo.com/video/302984985
please help me

[2018-12-09 19:29] caseypugh commented on #54
I haven't had a chance to check out your demo - thanks for sharing. Have you turned on debug mode on your Android build to see if the Vimeo API is properly returning the video file URL?

If it is, then +1 to what @ragecryx said: this sounds like a rendering issue, which is not a problem with the Vimeo plugin, but with Unity. Unity has a lot of bugs with their native `VideoPlayer`.  I recommend usi

[2018-12-10 20:14] juniorxsound commented on #57
@MZNX-AlCampbell I am closing this issue since I couldn't replicate your problem. If the above doesn't solve the issue feel free to re-open / open a new issue

[2018-12-10 20:14] #57 closed

[2018-12-17 23:04] juniorxsound commented on #52
Could not replicate the issue using Unity 2018.2.18f1 on Windows 10 (x64) and an Oculus Go Android device. Closing this issue but in case this is still causing problems feel free to re-open / open a new issue

[2018-12-17 23:04] #52 closed

[2018-12-18 18:02] andersonaraujodl opened #60 "Null Reference (Unity Player)"
### Describe the issue
I'm facing a Null Reference on the Sample scene.
I'm trying to use the Canvas player.
I haven't changed anything, just logged in, selected (from inside) recent videos, and took the last one.
The video is from our dev account and is private, with file access (I'm not sure if I've done it right).

### Steps to reproduce the problem
Open the Canvas Player Canvas Screen.
Login w

[2018-12-18 23:19] caseypugh commented on #60
Hi @andersonaraujodl - sorry for the trouble. This is actually the same issue that is [reported here](https://github.com/vimeo/vimeo-unity-sdk/issues/54#issuecomment-442189754).

When developing/testing, I suggest using a token that is generated from the `Get Token` button in the Unity editor (or [just click this link](https://authy.vimeo.com/auth/vimeo/unity)). This should fix your issue.

Since

[2018-12-18 23:19] #60 closed

[2018-12-19 12:20] andersonaraujodl commented on #60
Thanks a lot for your reply!

By the way: great job you're doing on this! Congrats!

[2018-12-19 12:21] andersonaraujodl commented on #54
This Solution worked fine for me (on Editor) but it never works if Auto play is off... Any suggestions?

[2018-12-19 18:33] #54 closed

[2018-12-19 18:35] caseypugh commented on #54
I updated the package in the latest release which resolves this issue https://github.com/vimeo/vimeo-unity-sdk/releases/tag/0.9.4

@andersonaraujodl I also tested autoplay in this update and it worked for me.

[2018-12-19 18:39] caseypugh commented on #56
FYI, we added new methods to support fetching whatever kind of adaptive stream you want: https://github.com/vimeo/vimeo-unity-sdk/pull/61

[2018-12-20 15:01] c-andrews opened #62 "Vimeo and AVpro namespace error"
I am trying to implement AVPro with Vimeo but I keep getting the following error:

Assets/Vimeo/Scripts/Config/PlayerSettings.cs(31,16): error CS0246: The type or namespace name `RenderHeads' could not be found. Are you missing an assembly reference?

I have tried re-importing both libraries but cannot seem to remove the error.

Any idea how i can resolve it?

### Unity version
Unity 2018.2.16f1

[2018-12-21 10:13] c-andrews commented on #62
@juniorxsound no problem, I have however seemed to fix my issue by starting a new project and importing everything again. There must have been a compile error which wasn't getting triggered and prevented the libraries from seeing each other.

Fun times...

[2018-12-21 15:20] juniorxsound commented on #62
Great! happy to hear it was resolved

[2018-12-21 15:20] #62 closed

[2018-12-23 10:19] michaelboccara commented on #51
I have a forked branch that reproduces the problem and suggests a fix.
https://github.com/vimeo/vimeo-unity-sdk/pull/63

Basically I suggest, to avoid problems, not to use the JSON static class, and write
JSONNode node = JSONNode.Parse(jsonString);
instead of:
JSONNode node = JSON.Parse(jsonString);

[2018-12-23 16:51] michaelboccara commented on #55
Hi Casey,

Can you please check this fix for this issue.
I did it all according to the documentation in here, but I'm getting an error from the server.
https://developer.vimeo.com/api/upload/videos#replacing-a-source-file

Thanks!

Michael

[2018-12-26 12:00] michaelboccara opened #67 "Enable sharing to social networks"
### Describe the issue
I would need, after having uploaded a video to Vimeo, to be able to share it to social network from my Unity app. That would save us a lot of effort of implementing each service's protocol.

[2019-01-02 15:38] caseypugh commented on #56
Hi @vector3 - correct, it does not fix it.

After doing more debugging with the AVPro team, we discovered that the issue is with AVPro which is using a very old Windows library for adaptive playback. AVPro mentioned that they have a new version being released (soon, I think) which will fix the issue.

If you need a quicker fix, I'd suggest trying some other Unity plugins for adaptive playback. Unf

[2019-01-02 19:49] caseypugh commented on #51
Fixed in #65 - now in `master`. Thank you, @michaelboccara !

[2019-01-02 19:49] #51 closed

[2019-01-02 20:09] NiteDev opened #68 "A way to change the Vimeo Player url on runtime to load another video in the same Player"
### Describe the issue
I'm working on a project with REST calls to get the url on vimeo server, but I can't make the Vimeo Player load the url video and play it on Android using code.  It 'd be great if you have a workaround or something that can help me.

### Unity version
2018.3

[2019-01-02 20:15] caseypugh commented on #68
That should be possible. Can you share the code you wrote that isn't working for you? Is it not working on Android only or is it the Unity Editor too?

I haven't tested this, but this should work for you:

[code]

[2019-01-02 21:10] NiteDev commented on #68
Yeah I did the same and it works on editor but when I compile on android it doesn't work .. That's why I'm confused with this, if I set the url on the Player inspector it works like a charm ... but can't make it work with code, so I think I'm missing something that is android relevant.

`public IEnumerator ActivityProgressVideoLoad(string videoUrl)
    {
        yield return new WaitForEndOfFrame(

[2019-01-02 21:34] NiteDev commented on #68
Can't make it work, I'm gonna try AVPro and tell later how it performs.

[2019-01-03 08:32] SibaMahlouby opened #69 "TestConfig could not be found"
It appears that I have these problems:
In general it is a"The type or namespace name `TestConfig' could not be found" in different scripts:

- Assets/Tests/Play/AVProMovieCaptureTest.cs(14,38): error CS0246: The type or namespace name `TestConfig' could not be found. Are you missing an assembly reference?
- Assets/Tests/Unit/EncoderManagerTest.cs(10,35): error CS0246: The type or namespace name `T

[2019-01-03 18:21] caseypugh commented on #69
Ah, we haven't documented this yet but when you check out this repo directly, there is some dev environment setup to do. You have to make a copy of `TestConfigSample.cs` and name it `TestConfig.cs`. Then rename the class to `TestConfig`. This is used for running Unity unit tests.

If you don't plan on making contributions to this repo, I recommend just installing the [latest release](https://githu

[2019-01-03 18:21] #69 closed

[2019-01-05 19:46] michaelboccara commented on #67
Hi Casey, thanks for your answer. You mentioned that the feature exist in vimeo.com, but does it exist in Vimeo's web API ? I haven't found it there (https://developer.vimeo.com/api/reference)... If you do, do you have a pointer for me ?

[2019-01-06 23:04] caseypugh commented on #67
No, it does not exist via the API, unfortunately.

[2019-01-15 17:17] user32768 opened #71 "Doesn't sign in outside of Unity Editor. Movies don't play"
### Unity version Unity 2017.4.11f1

I can play movies in editor, after entering API token and clicking the sign in button.
But on an android build, It errors saying I'm not signed in.
I tried calling VimeoPlayer.SignIn() with our token before trying to stream anything , I don't get the error after that, but it still doesn't play the movie.

What is the recommended method of signing in to Vimeo (w

[2019-01-16 16:46] juniorxsound commented on #71
Thanks for the details @user32768! I am having a hard time replicating the issue on my end. I tested on `Unity 2018.2.18f1` on `Windows x64` and an `Android 6.0.1` Lenovo device and everything works.

Once you sign in using the Unity editor GUI you shouldn't need to sign in again in the code, all you need to do is select the desired video, hit save and build the scene. You can use the [sample Play

[2019-01-16 17:25] user32768 commented on #71
Saving and building the scene didn't work for me.

I did this in the end , and it worked:
        vimeoPlayer.buildMode = false;
        vimeoPlayer.signInError = false;
        vimeoPlayer.SignIn(VimeoToken);
Where VimeoToken is our app token.

[2019-01-16 17:31] juniorxsound commented on #71
Ummm that is weird but happy it is working for you.

I am closing this issue since it is working for you, but feel free to reopen or file a new issue in case you run into more issues.

[2019-01-16 17:31] #71 closed

[2019-01-23 20:55] neuro3d opened #72 "Poor 360/3D video streaming performance with spherical prefab - Unity performance issue?"
### Describe the issue
When playing a Vimeo video using the 360 player prefab in this Vimeo SDK for Unity, the streaming is significantly more fragmented and poorer at high resolutions compared with streaming directly using the Vimeo app (outside of Unity app). As expected, selecting a lower default resolution remedies this problem, but I wonder if there are some rules of thumb in terms of graphic

[2019-01-24 15:33] juniorxsound commented on #72
Thanks for the details @neuro3d 🙌

Performance on iOS using Unity and the Unity video player is not great. It's not just the streaming aspect but also the Unity video player is not great for mobile deployment. Unity has [this guide](https://docs.unity3d.com/2019.1/Documentation/Manual/iphone-iOS-Optimization.html) for iOS specific optimization. Also, it sounds like you are using Unity's built in v

[2019-01-24 15:33] #72 closed

[2019-02-04 10:57] neuro3d commented on #30
Hi - I am having the same issue, AvPro video not being a player option after installing the vimeo sdk in a project. When I create a NEW project, yes, it works. However I don't quite understand how to make it work in the existing project with the vimeo SDK. You mentioned adding VIMEO_AVPRO_VIDEO_SUPPORT to the list of defines. How does one do that?

I'm attaching a screenshot showing that I have th

[2019-02-04 12:05] vinodhb13 opened #73 "Vimeo audio is playing but video is not playing sometimes. I am using the vimeoPlayer360 prefab."
### Describe the issue

### Steps to reproduce the problem

### Unity version

### Operating system

[2019-02-05 18:34] neuro3d opened #74 "AVPro Video Trial not exposing MediaPlayer to SDK"
![img_6194](https://user-images.githubusercontent.com/10190337/52295899-f1a5bb80-294a-11e9-87ac-6a899aee0dcd.jpg)
### Describe the issue

Hi - I tried to reopen this issue (this is closed issue #30) but I don't have permission. As the previous user experienced, AvPro video is not a player option after installing both the 30-day AVPro video trial and the vimeo sdk in a project.

When I create a NEW

[2019-02-05 19:41] neuro3d opened #75 "AVPro 360 playback flickering when using Vimeo SDK?"
### Describe the issue

Hi - I'm using AVPro as a player option for the Vimeo 360 player. I was able to get playback to work, however in the game view the playback has immense flickering. The scene uses cardboard as well.

### Steps to reproduce the problem

Create scene with the following gameobjects:

GvrEventSystem
GvrEditorEmulator

     Sphere
     AVPro Video Media Player
     [VimeoPlayer]

[2019-02-05 19:47] neuro3d commented on #74
Ah - solved it. Went to Player Settings / Other Settings / Scripting Define Symbols and added VIMEO_AVPRO_VIDEO_SUPPORT as suggested. I just couldn't find the right place to enter that before :)

[2019-02-05 19:47] #74 closed

[2019-02-05 20:21] neuro3d commented on #75
Aha - solved. The flickering only occurred in the game view of Unity on the Mac. After building to iOS, the playback on iPhone was perfect.

[2019-02-05 20:21] #75 closed

[2019-02-06 11:51] AndrewRH commented on #56
This seems to happen due to URL redirection, which is currently confusing our Windows Media Foundation and Android implementation.  A fix should come soon to either the Vimeo Unity plugin or our AVPro Video plugin.  In the meantime something like the following code can be added inbetween Vimeo and AVPro Video to resolve the URL and then pass it on for playback:

    IEnumerator ResolveAndPlay(stri

[2019-02-06 18:12] MichealPeters opened #76 "Video will not play when called started by Vuforia on Android"
### Describe the issue
I'm trying to track down the cause of this problem.  I can play Vimeo videos on an Android device with just using the example scene which uses just the Viemo Player Prefab. When I add Vuforia and using a simple addition to their scripts to activate the VimeoPlayer, which boils down to SetActive(True) on the prefab, when in the editor it plays fine.  When I build and Run it o

[2019-02-12 08:40] bakhtiyar-ospanov opened #78 "Streaming video protected by password"
### Describe the issue
In Vimeo player for Unity (Vimeo Unity SDK), is it possible to play videos which are protected by password. If so, how? and is there a way to hardcode (i.e. remember) this password?
## Steps to reproduce the problem

### Unity version
Unity 2017 and higher
### Operating system
Windows

[2019-02-12 15:36] juniorxsound commented on #78
Hi @bakhtiyar-ospanov, you can totally do that and it will store the authentication token with your app. Check out our [Getting Started](https://github.com/vimeo/vimeo-unity-sdk#getting-started) section in the readme to learn more. Closing this issue for now, but if you are having any problems feel free to to re-open, or open a new one.

[2019-02-12 15:36] #78 closed

[2019-02-12 15:56] caseypugh commented on #56
FYI, we are resolving this issue in PR #77

[2019-02-12 16:07] #56 closed

[2019-02-13 15:39] juniorxsound commented on #73
Hi @vinodhb13, thanks for reporting. Under what circumstances does this problem happen? Would be great if you could share info like Unity version, Operating system and how to reproduce the issue

[2019-02-14 17:36] juniorxsound opened #79 "Streaming PlayMode tests break on Unity 2017.4 because there is no audio listener in the test scene"
### Describe the issue
`Can_Stream_Video_With_Valid_Production_Token` and `Can_Stream_Video_With_Valid_Token` integration tests break on Unity 2017.4.16f1 because there are no audio listeners in the test scene

### Steps to reproduce the problem
Run the PlayMode tests on Unity 2017.4.16f1 + Windows 10

### Unity version
Unity 2017.4.16f1

### Operating system
Windows 10 Pro

[2019-02-14 17:36] juniorxsound commented on #79
![test](https://user-images.githubusercontent.com/15909884/52805712-2f929600-3055-11e9-9c51-545b08d0d9f7.PNG)

[2019-02-14 20:53] juniorxsound commented on #79
Solved in https://github.com/vimeo/vimeo-unity-sdk/pull/80

[2019-02-14 20:53] #79 closed

[2019-02-19 15:35] caseypugh commented on #73
Closing. Feel free to reopen if you can provide more information

[2019-02-19 15:35] #73 closed

[2019-02-21 22:17] juniorxsound opened #82 "Build warning: UnityEditor.BuildTargetGroup.PSP2 is obsolete on 2018.3 and higher"
### Describe the issue
On Unity 2018.3 and higher `UnityEditor.BuildTargetGroup.PSP2` is obsolete and thorws a warning when building. This might turn into a breaking build error in the future.
[code]
### Steps to reproduce the problem
Open Unity 2018.3 or higher and build any example scene to any platform

### Unity version
Tested against 2018.3.6f1

### Operating system
Windows 10 64bit

[2019-02-25 17:35] juniorxsound commented on #76
Thanks for all the details @MichealPeters.

I just tested using the player with Vuforia and was able to get it working. Here are the steps I took:
1. Import Vuforia and Vimeo Unity SDK (latest) to a new Unity project (`2018.3.6f1`)
2. Add a Vuforia ARCamera and ImageTarget (I chose the astronaut  ‍🚀)
3. Add a script that activates and deactivates just the screen GameObject (not the VimeoPlayer) an

[2019-02-25 17:35] #76 closed

[2019-02-26 20:54] c-andrews commented on #21
@caseypugh any news on this feature? Im now working on a video app which would really benefit from a download function :-)

[2019-02-26 20:54] c-andrews commented on #21
Sorry didn't mean to close it

[2019-03-20 21:27] kevado commented on #19
I can't seem to find the "Save token with object" option on the component. What am I missing?

[2019-03-21 16:47] juniorxsound commented on #19
@kevado this is no longer needed and was the old way of storing tokens. Currently, it should save the token automatically when you build 🔐

[2019-04-10 14:05] MichealPeters opened #84 "360 video playback on Oculus Go"
### Describe the issue
When streaming a 360 video using the Vimeo 360 prefab on an Oculus Go, the display comes up gray, with no video.  The audio is playing just fine, but there is no video at all. The Vimeo player for traditional media works fine on the Go, just not 360 Video.  I'm not seeing any errors from the Oculus Go in the Unity error log connected to the device.
### Steps to reproduce the

[2019-04-23 01:46] LincRead opened #85 "Sound is reduced in Unity 2019.1"
### Describe the issue

We've been using Vimeo Unity SDK without problems thus far, but the sound output has suddenly changed to be very low for all our videos, without us making any changes in the Unity scene or with the videos. Although, we did recently upgrade to Unity 2019.1, but I'm not sure if it's related or not.

The sound from the Vimeo video is playing and is synced, but I have to put my

[2019-05-02 13:27] neeraj-jaiswal commented on #85
I am a pro user of Vimeo and this happened just before the launch of my unity app. It is not working on ios and android as well. The whole launch is now stuck up :(

[2019-05-02 14:15] juniorxsound commented on #85
Hi @LincRead @neeraj-jaiswal Thanks for the details. just to confirm, this is happening only on Unity 2019 on Windows with the built-in Unity video player? having a hard time-replicating this issue on my macOS / `Unity 2019.1.0f1` setup.

Also, when in PlayMode in the editor, can you look at the child `Screen` GameObject and inspect if the volume is 1 when it plays
![Screen Shot 2019-05-02 at 10 1

[2019-05-02 14:27] juniorxsound commented on #84
@MichealPeters Thanks for the details! This sounds related to the Unity Video Player not being able to handle large video resolutions on Android. What happens if you try and playback a 360 low resolution version (like 360p)?

The Unity Video player on Android has some issue (#52, #27, #18) if you are building a production app we highly recommend using [AVPro Video](http://renderheads.com/product/a

[2019-05-02 14:54] neeraj-jaiswal commented on #85
It was working well with Unity 2018.3, but as upgraded to 2019 version yesterday, the video is playing but without audio. I am able to replicate it on Mac Editor, Android and iOS builds.

[2019-05-02 14:56] juniorxsound commented on #85
@neeraj-jaiswal Can you peek into the `Screen` GameObject during `Play` and see what the volume value is? (as shown in the image above). Would be helpful to know exactly which versions of Unity you used

[2019-05-02 15:12] neeraj-jaiswal commented on #85
![unity2018](https://user-images.githubusercontent.com/48082021/57085864-b123c700-6d1a-11e9-88ca-45b7831fd2ae.jpg)
![unity2019](https://user-images.githubusercontent.com/48082021/57085865-b1bc5d80-6d1a-11e9-839e-ce9900a70083.jpg)

I have pasted the screenshot of screen for both 2018 and 2019 version of Unity

[2019-05-02 15:15] juniorxsound commented on #85
Thanks @neeraj-jaiswal I'll definitely continue investigating this, in the meantime I would probably recommend sticking to the 2018 versions that work for you.

[2019-05-02 15:19] neeraj-jaiswal commented on #85
Thanks @juniorxsound , I am going back to 2018 for now. Will wait for the fix, I just hope I will not need to upgrade to 2019 for any features. Keeping fingers crossed :)

[2019-05-02 16:15] juniorxsound commented on #85
Hi @LincRead @neeraj-jaiswal patching the issue, it seems Unity doesn't support `AudioSource` to be placed on a `RectTransform` anymore, which is why the `CanvasPlayer` was the only problematic example. The patch lives in [this branch](https://github.com/vimeo/vimeo-unity-sdk/tree/unity-2019-canvas-sound-patch). The fix will go into the [0.9.5 Milestone](https://github.com/vimeo/vimeo-unity-sdk/mi

[2019-05-02 22:38] LincRead commented on #85
Thanks a lot @juniorxsound; the pre-release unitypackage for 0.9.5 solved the sound problem for us.

[2019-05-03 13:43] juniorxsound commented on #85
Happy to hear it solved the problem, and thank you for the details @LincRead (cc @neeraj-jaiswal), will run some tests to see everything else is ok and create a new release 🎉

[2019-05-03 18:43] MichealPeters commented on #84
Sorry, forgot to update this, it was a while since I had opened it.  I finally got it to work, all it took was a different shader for the material that was being used on the sphere.  I'll have to go back and double check that I didn't also change out the material also, but I'm pretty sure it was just the shader change that caused it to work.

[2019-05-03 19:05] juniorxsound commented on #84
Thanks @MichealPeters! That is interesting, in case you find that it is a shader issue I'd love to include your fix in a new release. feel free to re-open this issue/open a new one.

[2019-05-03 19:05] #84 closed

[2019-05-03 19:21] juniorxsound opened #87 "GetAdaptiveVideoFileURL_Returns_Dash_By_Default Unit Test returns HLS on macOS"
### Describe the issue
The unit test `GetAdaptiveVideoFileURL_Returns_Dash_By_Default` returns HLS manifest on macOS by default because of `isHlsPlatform` check and failing.

### Steps to reproduce the problem
Run `GetAdaptiveVideoFileURL_Returns_Dash_By_Default`

### Unity version
2019/2018/2017

### Operating system
`macOS 10.14.4`

[2019-05-03 19:45] #82 closed

[2019-05-03 19:45] #85 closed

[2019-05-03 19:46] juniorxsound commented on #87
Fixed in #86

[2019-05-03 19:46] #87 closed

[2019-05-03 20:13] juniorxsound commented on #85
This is resolved in [0.9.5 official release](https://github.com/vimeo/vimeo-unity-sdk/releases/tag/0.9.5)

[2019-05-04 13:42] neerajjaiswal commented on #85
Sorry @juniorxsound , got stuck up with the Apple submission. They raised some non-technical issue :) I tested the 0.9.5 package today and the changes worked. Thanks for doing it in such a short time frame. Really appreciate it.

[2019-05-10 22:14] jinchen16 opened #88 "Unity-iOS Video play with low frame-rate"
### Describe the issue
When a video is played, the video looks quite laggy as like it has low frame rate. I tested the project build for android and everything in this platform looks good instead of iOS the videos are playing with low frame rate.

### Steps to reproduce the problem
Just play a video from an account.

### Unity version
2018.1.6f1

### Operating system
MAC - iOS Device.

[2019-05-13 01:21] Cucurbit1988 opened #89 "Can I record it in real time"
### Describe the issue

### Steps to reproduce the problem

I need a live stream. Can this plugin do it?

### Unity version

### Operating system

[2019-05-14 18:12] juniorxsound commented on #88
Are you using the Unity Video Player / AVPro Video?

[2019-05-14 18:17] juniorxsound commented on #89
Hi @Cucurbit1988, are you referring to live-streaming from Vimeo to Unity, or from Unity to Vimeo?

It is possible to live-stream from Vimeo to Unity [using AVPro Video](https://github.com/vimeo/vimeo-unity-sdk#streaming-with-avpro-video-and-vimeo). It is currently not possible to live-stream from Unity to Vimeo. It is something we are looking into and might be added in the future.

[2019-05-14 18:29] jinchen16 commented on #88
Yes, using Unity Video Player

[2019-05-14 18:36] juniorxsound commented on #88
Unfortunately there is not a lot we can do, as the performance you are seeing is related to the Unity Video Player. Take a look at [this guide by Unity](https://docs.unity3d.com/Manual/iphone-iOS-Optimization.html) and also, consider [using AVPro Video with the plugin](https://github.com/vimeo/vimeo-unity-sdk#streaming-with-avpro-video-and-vimeo) which optimizes the player for the build target and

[2019-05-14 18:36] #88 closed, assigned to juniorxsound

[2019-05-16 17:08] DanieleSuppo73 opened #90 "360Player not working on WebGl"
I'm trying the scene "360Player".
It work fine in Editor but publishing the WebGL build on my ftp I get the error:
Access to XMLHttpRequest at 'https://config.uca.cloud.unity3d.com/' from origin 'http://vr.alicefit.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-05-16 17:14] juniorxsound commented on #90
Hi @DanieleSuppo73, seems related to the fact your app is served through `http` but is requesting resources from `https`. [Check this out if you are interested in learning more](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)

Closing this issue for now, if the issue doesn't resolve or you find other difficulties feel free to re-open/open a new issue.

[2019-05-16 17:14] #90 closed, assigned to juniorxsound

[2019-05-16 17:16] juniorxsound commented on #89
@Cucurbit1988 Closing this for now, but feel free to re-open

[2019-05-16 17:16] #89 closed, assigned to juniorxsound

[2019-05-16 19:01] DanieleSuppo73 opened #91 "360Player not working on WebGl - several issues"
Hello,
I've started the 360Player demo scene from scratch, just using the standard Unity VideoPlayer.
I didn't change anything, I've just choosed a video from Vimeo.
It work fine in Editor.
1 - I've made a WebGl build and uploaded to my server, but on Chrome  I got the error
"Uncaught (in promise) DOMException".

2 - I've started from scratch again, the same scene.
Working in Editor, on Chrome I g

[2019-05-16 19:19] DanieleSuppo73 commented on #91
I've created a button so to play the video not at start,
Vimeo.Player.VimeoPlayer.Play().

This time on Chrome I can hear the audio, but I can't see the video

[2019-05-16 21:25] DanieleSuppo73 opened #92 "When switching to WebGL AVPro is not exposed anymore"
Hello, when I choose WebGl as build platform I can't choose anymore from VideoPlayer or AVPRo because it's not exposed anymore.
If I choosed AVpro as player, before to switch to WebGl, it does not show anymore the video and I can just hear the audio

[2019-05-16 22:37] DanieleSuppo73 opened #93 "Player Settings validation: Build target group (18) doesn't exist"
Hello,
when I open any demo scene and I switch to WebGl I get this some repeated Log error

PlayerSettings Validation: Requested build target group (18) doesn't exist; #define symbols for scripting won't be added.
UnityEditor.PlayerSettings:SetScriptingDefineSymbolsForGroup(BuildTargetGroup, String)
Vimeo.VimeoPluginProcesser:AddPlayerDefine(String) (at Assets/Vimeo/Scripts/Editor/VimeoPluginProce

[2019-05-16 22:44] DanieleSuppo73 commented on #91
I did a test with the  "Vimeo Player Plane" prefab, and with 720 video resolution.
In Editor it work fine, but on Chrome I can just hear the audio, the plane is white and I have no console errors.

[2019-05-16 23:06] DanieleSuppo73 commented on #93
I've deleted the script "VimeoPluginProcessor.cs" and now I don't have this error anymore, and I'm able to build and run locally a WebGl build.
Unfortunately I get the Chrome console error "Uncaught (in promise) DOMException"

[2019-05-22 05:29] bryanrtboy opened #94 "360 video plays audio but no video - Google Cardboard"
I built a previous version of this app that worked fine, but in Unity 2019.1.X the 360 video does not render on an iOS device. I hear audio, and Google Cardboard is working, but the video is the default grey color of the shader.  No errors are reported in the Xcode console.

The video plays in the Editor as expected. I suspect that it could be a shader issue with the Panormic skybox shader.  Anoth

[2019-05-24 08:07] AnYuer commented on #52
请问大神们是怎么解决的，我也发生了这个问题。

[2019-06-05 00:52] yosun commented on #21
checking back...

[2019-06-07 03:56] LincRead opened #95 "isSeeking never gets set to false on Unity for Mac"
### Describe the issue

isSeeking never gets set to false on Unity for Mac, but it works fine on Unity for Windows.

Consequences:
isSeeking gets set to false like it should on Windows and Google Play builds.
isSeeking never gets set to false on macOS or iOS builds.

We use this value for our implementation of the seek bar, and we haven't been able to find a solution that hides this issue. Thus, t

[2019-06-07 15:07] juniorxsound commented on #93
Please use the issue template to provide more information

[2019-06-07 15:07] #93 closed, assigned to nobody

[2019-06-07 15:07] juniorxsound commented on #91
Please use the issue template to provide further information (e.g Unity version, OS...0

[2019-06-07 15:07] #91 closed, assigned to nobody

[2019-06-07 15:08] juniorxsound commented on #92
Please use the issue template to provide further information (e.g Unity version, OS...etc)

[2019-06-07 15:08] #92 closed, assigned to nobody

[2019-06-08 06:04] MohHeader commented on #21
👍

[2019-06-10 14:42] juniorxsound commented on #21
Hi @yosun @MohHeader thanks for the feedback! There is still no timeline for this feature, but given the interest I will try to prioritize it in the future 🚀 thank you for keeping this thread going

[2019-06-10 14:43] juniorxsound commented on #95
Thanks for the info @LincRead - I wonder if that is a Unity Video Player event problem on iOS. I'll investigate and report back

[2019-06-10 22:12] LincRead commented on #95
@juniorxsound the issue shows up in Unity Editor for Mac, so I think it's an issue that carries on when builds for iOS and macOS are made.

[2019-06-20 08:11] sammyvrmadman opened #96 "Cannot find AVplayer when switching to ios"
Cannot find AVplayer when switching to ios or webGL

The script can find my AV player component when selecting android or pc / mac standalone in build settings but as soon as I switch to ios in the build settings or web GL the script is unable to find AVplayer

### Unity version 2018 3.11.1f

### Operating system Mac Os Mojave 10.14.4

[2019-06-20 13:59] BDS-git opened #97 "CORS issue"
I am trying to load a video from Vimeo,  but i am running into CORS problems when building to WebGL.

that's the error:

"Access to video at 'https://vimeo-prod-skyfire-std-us.storage.googleapis.com/01/3109/9/240545637/861578706.mp4?GoogleAccessId=GOOGLW2TRT7BCCZZO5AX&Expires=1561049615&Signature=0p1YTKCZw81S2NW7CsulkQxAUvg%3D' from origin 'http://localhost' has been blocked by CORS policy: No 'Ac

[2019-06-25 14:27] sammyvrmadman commented on #96
Found the problem you have to type in: VIMEO_AVPRO_VIDEO_SUPPORT under Scripting Define Symbols in the player settings Then it works!

[2019-06-25 14:27] #96 closed, assigned to nobody

[2019-07-12 23:07] Neves97 opened #98 "Autoplay off not working"
### When setting autoplay to off and trying to load a video ,the video automatically plays

Acess the vimeo player script and set autoplay to off,then call the load video method

### Unity 2018.4

### win10

[2019-07-17 12:38] nsmith1024 commented on #97
Hello, have you solved this problem??

[2019-07-17 12:41] nsmith1024 commented on #33
Hello, have you solved this??

[2019-07-17 13:00] nsmith1024 opened #99 "Need Unity WebGL Viemo Player"
Hello,

I need a Vimeo player for Unity WebGL. So does this one work? Seems no activity for a long time.

All i need is Playback capability for Vimeo videos.

I saw several issues like CORS and not being able to change to another video for playback, has these been solved? Seems there has been no activity for a long time so im wondering if that means everything working?

Thanks

[2019-07-17 13:01] nsmith1024 commented on #21
So this download feature works now, is anybody still working on this project? There has been no activity for a long time

[2019-08-23 14:14] thiagocoradi opened #100 "Problem with Vimeo Player Editor adaptive mode in Unity with AVPro player (ios)"
I am working with streaming video from vimeo to my unity app. I bought the plugin avpro in unity asset store and download the plugin for unity of vimeo. I founded that the plugin works very weel in android with adaptive mode with avpro. But when I switch to ios build the vimeo editor player does not show the dropdown to select avpro media player and neither the adaptive mode. Can anyone help me?

[2019-09-04 15:56] annarqi opened #101 "Redhead namespace couldnt be found after i wrote VIMEO_AVPRO_VIDEO_SUPPORT to scripting define symbols"
### Describe the issue
I try to get a ios build from unity. At first vimeo sdk didn't work. After I try to solve the issue I get an answer which says "write **VIMEO_AVPRO_VIDEO_SUPPORT** to scripting define symbols".
### Steps to reproduce the problem
Now I can't get a IOS build and it says:
"**Assets/Vimeo/Scripts/Config/PlayerSettings.cs(31,16): error CS0246: The type or namespace name 'RenderHe

[2019-09-25 15:12] Romaris commented on #84
I have the same issue. Tried shifting from panoramicBeta to panoramic, but it didn't fix the problem.
Any ideas?

[2019-10-20 15:48] satwal opened #102 "Transparency support"
### Describe the issue
Is there any way to get transparency from a privately uploaded video?

### Steps to reproduce the problem
Open Player scene
Log in using auth token
Choose a video stream that contains alpha (using a color code)
Hit play and confirm the stream playing with the color code
How can I swap this color code out for alpha? Is there perhaps another way to handle alpha?

### Unity ver

[2019-10-21 12:24] h5olo opened #103 "NullReferenceException Unity 2019.3.0b7"
[###](url
<img width="1051" alt="스크린샷 2019-10-21 오후 9 26 23" src="https://user-images.githubusercontent.com/24458696/67204925-8a348b00-f449-11e9-9dee-13d328ab0671.png">
) Describe the issue
Vimeo Recorder component > sign in > start Recording > error message :

NullReferenceException: Object reference not set to an instance of an object
UnityEngine.Recorder.Input.GameViewSize.GetMainGameView () (a

[2019-11-04 18:03] justin-pierce opened #104 "Questions: what is the max resolution of the adaptive HLS url? Best practices for streaming own videos in 4k to app?"
What is the max resolution of the adaptive HLS url? My connection isn't especially fast so I'm wondering if I'm being limited by my connection speed or if the HLS link just doesn't go up to 4k.

And if I want to create an app that streams 4K videos (for some reason 4K seems to be locked behind api unlike adaptive and 1080p links) we've uploaded to our channel, how should I handle authentication?

[2019-12-06 17:54] jdmiranda opened #105 "CanvasPlayer not working on Android App from App store"
App installed via the Android App Store will not play videos. I have the same App flashed onto the same phone. The only difference in builds is that one is an Android App bundle and the other is the normal apk. (where you flash the target device that is connected).

I'm assuming that this has something to do with the token that is passed in on the builds. Is there a known solution or am I doing so

[2019-12-06 18:13] jdmiranda commented on #98
Same. problem is deeper in the code where it's trying to set up a disabled game object.

[2019-12-10 13:28] bodapativinay opened #106 "video is not playing in android device"
### Describe the issue
CanvasPlayer demo scene when i play from editor its working good. Then i build it to android but video is not displayed. When i debug in android its showing this error:

12-10 18:53:47.221 26154 26241 W Unity   : The referenced script (SeekSlider) on this Behaviour is missing!
12-10 18:53:47.221 26154 26241 W Unity   :
12-10 18:53:47.221 26154 26241 W Unity   : (Filename: ./

[2019-12-28 06:11] jdmiranda commented on #106
if you use the updated library it should work. it did that for me with the same issue.

[2019-12-28 16:55] jdmiranda commented on #105
So I got it working by using an APK instead of an app bundle. EXO player called on the wrong thread is the error I'm seeing from logcat when using the app bundle.

[2020-01-01 22:31] rubit0 commented on #21
Any news on the download feature?

//edit
I noticed now that the VimeoPlayer only allows to load Videos to be streamed directly from the Vimeo Service - there is no option to load the video locally as a file. Well in this case the SDK integration is of no use for my project (it requires and allows only download, no streaming) :-/

[2020-01-08 17:00] jdmiranda commented on #21
For downloading I would throw the videos into an AWS s3 bucket and see if that works for you.

[2020-01-20 12:50] umresh opened #107 "CORS error in WebGl build."
Hi,
   I'm building player for WebGL and when playing video I get CORS error when playing the video **url** under **[play][progressive]** in response Json. How do I solve this issue?

[EDIT]
Tried AvPro Video too but getting the same error.
I'm using Unity 2019.2.17f1.

[2020-01-23 13:24] umresh commented on #97
Hey I'm getting the same error. Did you solved it?
[Edit]
I tried running build from S3 storage and Face the same issue.
When inspect the response headers for the url at [progressive] in video metadata response when video player loads it, there is no Allow-Origin-Header in the response header for the video.

[2020-01-31 20:01] Chris234k opened #108 "VimeoBuildProcessor does not work with inactive GameObjects"
`public void EnableBuildMode(GameObject[] objects)` uses `GetComponentsInChildren<VimeoSettings>()` which by default ignores inactive GameObjects. See [Unity Documentation](https://docs.unity3d.com/ScriptReference/Component.GetComponentsInChildren.html)

The line should be `GetComponentsInChildren<VimeoSettings>(true)`

This was preventing my disabled GameObject from properly transferring the toke

[2020-02-06 13:39] fabulastudios opened #109 "Video plays does not increase view counts"
### Describe the issue
Vimeo is not counting views coming from the app, since the 12 January 2020.

The problem goes for all videoes.

The app is called Tidslommen and can be downloaded in Google Play and on the Apple App Store

I have embedded Vimeo in a mobile application using the Vimeo unity SDK (https://github.com/vimeo/vimeo-unity-sdk).

All videos are private and hidden from vimeo.com (http

[2020-02-11 14:15] fabulastudios opened #110 "Update (missing featues)"
### Describe the issue
The events OnVideoEnded and OnVideoError are not existing, is there a way to handle those in the new SDK

and is VimeoPlayer.is3D the same as VimeoPlayer.is360 was?

### Steps to reproduce the problem

### Unity version

### Operating system

[2020-02-17 10:32] #110 closed, assigned to nobody

[2020-02-25 09:30] savek1986 opened #111 "401 Unauthorized request. Are you using a valid token?"
### Describe the issue: I have that error when I try to play a 360 video in my iOS iPad (I debug it with Lunar Console). The token is correct, in fact I use the same one on my android version app and it works.

### Unity version 2018.2.14f1

### Operating system Windows, but I'm using Unity Cloud

[2020-03-14 01:02] 0xdhu opened #112 "Using unity vimeo sdk, how can I play my private vimeo video?"
### Describe the issue

### Steps to reproduce the problem

### Unity version

### Operating system

[2020-03-16 08:53] aalionline commented on #101
@annarqi  I'm facing the same issue, have you resolved it already? if yes pls share the steps.

[2020-03-16 08:59] aalionline commented on #104
@justin-pierce which media player are you using to play the adaptive videos?

[2020-03-16 09:02] aalionline commented on #100
@thiagocoradi were you able to figure out the solution for this issue?

[2020-03-16 09:37] annarqi commented on #101
Hi there, I am not using avpro for videoplay that's why I deleted it
from scripting
define symbols and it is solved by itself. If you are using avpro you need
to include their scripts.

On Mon, Mar 16, 2020 at 11:53 AM Abid Ali <notifications@github.com> wrote:

[2020-03-19 10:09] AMolti commented on #106
Hello,

Which library need to be updated? Because I have the same problem on Android.

I'm on Unity 2019.3.5

Edit: Bug disappear when I use the release package (Before I used the repository clone)...

[2020-03-23 22:01] raphaeljoie opened #113 "Don't have the permission despite purchased license"
### Describe the issue
[VimeoPlayer] You do not have permission to access to this video. You must be a Vimeo Pro or Business customer and use videos from your own account. https://vimeo.com/upgrade
UnityEngine.Debug:LogError(Object)
Vimeo.Player.VimeoPlayer:VideoMetadataLoad(String) (at Assets/Vimeo SDK/Vimeo/Scripts/Player/VimeoPlayer.cs:371)
Vimeo.VimeoApi:ResponseHandler(UnityWebRequest) (at As

[2020-03-27 10:54] grobm opened #114 "Unity 2019.3 Git Manifest issues"
### Describe the issue
Manifest errors when trying to add to a Unity 2019.3 project
### Steps to reproduce the problem
Download the sample project open it in Unity 2019.3.x
### Unity version
Unity 2019.3.5f1
### Operating system
MacOS

Log:
An error occurred while resolving packages:
  Project has invalid dependencies:
    com.unity.ads: Version 'exclude' is invalid. Expected one of: a 'SemVer' co

[2020-04-02 23:10] franMx commented on #106
hi @DevBNM  Where did you get a release package? Have same problem and can't fix it.

[2020-04-03 06:46] AMolti commented on #106
@franMx On this page: https://github.com/vimeo/vimeo-unity-sdk/releases

I don't know why the bug disappear, may be it's magic. :)

[2020-04-06 14:54] HVossi92 opened #115 "Vimeo live stream, ArgumentOutOfRangeException"
### Describe the issue
Hello,
I'm trying to access my vimeo live stream inside Unity, but all I get from the Vimeo Player is:

I've also tried using the AVPro Mediaplayer (free trial), which just tells me:

If I mistype the link on purpose, the Vimeo Player tells me, that it couldn't find the video. So that I am getting theArgumentOutOfRangeException feels like it at least found the stream?
If I a

[2020-04-09 13:38] andijliddell opened #116 "Not working in webGL"
Superb SDK and great for building to windows and other platforms.
I cannot seem to get it working with a webGL build.

Any help would be greatly appreciated.

### Steps to reproduce the problem
Build to web GL - upload to server, and test. Video doesn't load

Unity version
2019.3.0f6
Operating system
Windows 10

[2020-04-24 15:57] WeAppU commented on #115
Same here... So Bad :-(

[2020-04-30 11:03] savek1986 opened #117 "AVPRO VIDEO integration with Vimeo SDK"
Hi,
I need to integrate AVPro Video in Vimeo SDK for adaptive resolution, but I can't.
Can you help me, please?

![avpro+Vimeo_ error adaptive resolution](https://user-images.githubusercontent.com/6131397/80703404-012a9a80-8ae3-11ea-92d7-52554a33990c.jpg)

### Unity version 2018.2.14f1

### Operating system Windows 10, but I'm developing for Android

[2020-04-30 14:32] alex-Arc commented on #113
I have the same issue but i have a Premium account?
`[VimeoPlayer] You do not have permission to access to this video. You must be a Vimeo Pro or Business customer and use videos from your own account. https://vimeo.com/upgrade
UnityEngine.Debug:LogError(Object)
Vimeo.Player.VimeoPlayer:VideoMetadataLoad(String) (at Assets/Vimeo/Scripts/Player/VimeoPlayer.cs:371)
Vimeo.VimeoApi:ResponseHandler(Uni

[2020-05-01 12:04] jonasfehr commented on #115
Same here

[2020-05-07 15:26] thesys opened #118 "Cross domain Exception"
I'm having troubles playing private videos on my WebGL deploy. I have a Vimeo Pro account and this works fine in other platforms. I get an error similar to this
"Access to video at 'https://vimeo-prod-skyfire-std-us.storage.googleapis.com/XXXXX' from origin 'XXX_WHATEVER_ORIGIN' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"

To repro

[2020-05-13 03:15] thylaxene commented on #116
Yeah same here. Getting this issue as reported by Google Dev Tools:

The referenced script (Vimeo.Player.VimeoPlayer) on this Behaviour is missing!
(Filename:  Line: 199)

The referenced script on this Behaviour (Game Object '[VimeoPlayer]') is missing!
(Filename:  Line: 334)

A scripted object (probably Vimeo.Player.VimeoPlayer?) has a different serialization layout when loading. (Read 32 bytes b

[2020-05-13 05:40] thylaxene commented on #118
Yep get this as well for our Pro account!

[2020-05-26 05:06] OscarGutierrezT commented on #115
Same here...

[2020-06-12 02:10] darksharkmark opened #119 "Multiple Accounts"
Hi!

Can I sign in with multiple accounts to access videos from different accounts?

Is there any workaround to make this happen?

be very useful to us.

Cheers,

Mark

[2020-06-16 21:28] michaelboccara opened #120 "Upload fail"
### Describe the issue
I tried uploading a ~50MB mp4 file from a unity app and it fails after 10MB or so, resuming from the beginning and failing after 3 times

### Steps to reproduce the problem
I actually have a test case which you can try from my forked branch:
https://github.com/michaelboccara/vimeo-unity-sdk/tree/feature/upload_fail
Open the Uploader.unity scene
Fill a valid local path to a >

[2020-06-18 18:17] michaelboccara commented on #120
I found a workaround for this problem:
I just reduced the chunk size from 128MB to 8MB! I noticed that the failure always happened after uploading ~10MB (out of the ~50MB of the video), Sounds like a bug in the server side. So by reducing the chunk to 8MB I'm avoiding the problem.
Still, would be nice to receive a sign of life from Vimeo to tell us what's wrong with their server.

[2020-06-24 09:12] AStopher commented on #56
This seems to be an issue again with the latest SDK and Unity 2019.3.4 in Windows (maybe 10% of the time it'll work, but most of the time it'll just get stuck on `Opening`.
Using the SDK in conjunction to AVProVideo.

[2020-06-25 11:27] OliverEberlei commented on #92
I had the same issue and managed to solve it by adding BuildTargetGroup.WebGL to the SupportedPlatforms array in VimeoPlugin.cs Line 59ff

[2020-06-25 23:24] justin-pierce commented on #104
AVPro

[2020-07-03 10:35] ghost commented on #99
I am also having this issue. I think its related to .htaccess configuration and adding a header to allow communication to Vimeo servers but I am not sure.

[2020-07-06 19:48] iheartblob commented on #99
Did you manage to get any further with this? I'm having the exact same issue and kind of lost as to where to go next or even where to add the header tbh.

[2020-07-10 11:15] josenunes-ttw opened #121 "Does not work in WebGL"
Library does not work in WebGL deploys due to a problema with Access control allow origin header, which is missing from Vimeo response.

Install vimeo-unity-sdk, run an example or develop your own.
You won't be able to play the video. It works in other platforms and Editor.
I have changed the request a bit, to get preview images and this particular feature works, though.

I'm using Unity 2018.3.7f

[2020-07-10 14:09] savek1986 opened #122 "AVPro + Vimeo SDK doesn't work on my iPad 4"
The video path is not being set by Vimeo SDK on the AVPro Video MediaPlayer component

The issue is explained well here:
https://github.com/RenderHeads/UnityPlugin-AVProVideo/issues/413

Unity version is 2018.2.14f1
AVPro version 1.11.3
Vimeo SDK version 0.9.5
Operating system Windows but I build for iOS by Unity Cloud

[2020-07-13 08:20] savek1986 commented on #122
Hi,
another question: how Can I force video url by code in Vimeo Player? Because I get Vimeo video url by a Json and not directly by Vimeo Component.
Thanks

[2020-07-13 14:36] iheartblob commented on #122
Hey did you manage to get them to work on webGL? I could get sound using AVpro but no video.

[2020-07-13 14:38] savek1986 commented on #122
No, I'm sorry but I needn't to develop for webGL so I haven't tried it

[2020-07-14 16:48] chrispop commented on #118
Hello, I have the same problem. Did you solve this?

[2020-07-14 16:49] chrispop commented on #97
Same problem here.

[2020-07-20 12:28] iheartblob commented on #121
Hey @josenunes85 did you manage to get it to work in webGL?

[2020-07-21 03:38] Zamaroht commented on #121
We recently upgraded to a pro account but are having this same issue.

[2020-07-21 10:31] iheartblob commented on #121
We did the exact same. I haven't found any solutions online and when I contacted Vimeo for support they basically just redirected me back to github to file an issue despite it not being updated in over a year. My best guess is that the requests have changed in the vimeo api and they need updated but haven't had the time to check it out yet. I tried configuring the cors on aws but didn't help eithe

[2020-07-21 10:35] josenunes-ttw commented on #121
Same here. I'd love a solution. Right now, on WebGL I'm just building and opening video on a new tab whilst it is ok in other platforms - this is the way to make it work at least.

[2020-07-24 12:03] iheartblob commented on #118
Did you manage to solve this?

[2020-07-24 12:04] iheartblob commented on #121
You're just opening the web link and leaving your game? I'm hoping to have the vimeo links embedded in our game

[2020-07-24 12:05] iheartblob commented on #107
Hey Did you manage to get it working? It seems like everyone has this issue and hasn't figured out a way to fix it. Would be great if we could get this fixed and update this repo.

[2020-07-24 12:54] thesys commented on #118
Unfortunately, nope. _Nada_

[2020-07-24 13:03] josenunes-ttw commented on #121
Yes. For my game it doesn't matter much if the video is displayed inside or
not.
But of course, ideally, this should work as in other platforms. Still
waiting ...

iheartblob <notifications@github.com> escreveu no dia sexta, 24/07/2020
à(s) 13:04:

[2020-07-25 15:36] parsec3d commented on #113
Same exact Issue, with a Pro account...

VimeoPlayer] You do not have permission to access to this video. You must be a Vimeo Pro or Business customer and use videos from your own account. https://vimeo.com/upgrade
UnityEngine.Debug:LogError(Object)
Vimeo.Player.VimeoPlayer:VideoMetadataLoad(String) (at Assets/Vimeo/Scripts/Player/VimeoPlayer.cs:371)
Vimeo.VimeoApi:ResponseHandler(UnityWebRequest)

[2020-08-04 00:39] RyanRothweiler opened #123 "Doesn't work on PS4"
I've tested, and this doesn't work on PS4. Works great in editor.
Is this intended or am I doing something wrong?

A list of supported platforms would be very useful.

[2020-08-04 18:41] aholla opened #124 "AVPro option not apearing."
### Describe the issue
I have AVPro installed. I am currently using it to stream from another service. I tried using the Vimeo Player and it is supposed to auto detect AVPro and give options for it. I do not get the options.

### Steps to reproduce the problem
Install AVPro (Pro) SDK, install Video SDK.

### Unity version
2019.4.5f

### Operating system
OSX Catalina

[2020-08-05 09:14] ghost commented on #121
I chased Vimeo support.

Part of my message to them:

And this is Vimeo's official response:

[2020-08-05 09:14] ghost commented on #118
I chased Vimeo support.

Part of my message to them:

And this is Vimeo's official response:

[2020-08-05 09:14] ghost commented on #107
I chased Vimeo support.

Part of my message to them:

And this is Vimeo's official response:

[2020-08-05 09:14] ghost commented on #99
I chased Vimeo support.

Part of my message to them:

And this is Vimeo's official response:

[2020-08-05 09:14] ghost commented on #97
I chased Vimeo support.

Part of my message to them:

And this is Vimeo's official response:

[2020-08-13 06:22] DiegoAyalaE commented on #115
Same here.

[2020-08-14 21:09] adamhbz commented on #45
Hi could you explain how to save it?

We build with Unity Cloud build. We have 8 different targets. Doing manual builds would take days. We would like to cache the login details so we can build with he cloud.

Thanks.

[2020-08-19 15:02] mikeskydev commented on #115
Same here

[2020-08-31 15:01] WaltzBinaire commented on #115
Hi there,
any plan on working on live streams for this sdk?
Thanks

[2020-09-01 16:51] thomasvanta commented on #115
Is there a plan to fix this or should we look into other alternatives?

[2020-09-12 09:03] BenjaminKeating1986 commented on #115
Do the devs even look at this?

[2020-09-12 17:09] BenjaminKeating1986 commented on #121
Basically they will fix this for there enterprise customers and us small fish can just do one and that i am guessing is why we have not seen a fix :)

[2020-09-16 00:30] Wyvernius commented on #107
Maybe, if you have control over the server that you're hosting your app from, you maybe can rewrite the headers to always return the missing headers.

This was also a problem i faced.
Also Fiddler is a great program to know what happens and goes wrong with debugging WebGL builds with "outside" connections.

[2020-09-17 16:02] rankorn opened #125 "No OnVideoEnd event?"
### Describe the issue
I have OnVideoStart, but I can't seem to see OnVideoEnd, and my video just loops back to the start.
How can I get the video end event?

### Unity version
2019.4.4

### Operating system
Android, iOS, WebGL

[2020-09-22 13:31] khalidmahmood99 opened #126 "Video Streaming Not Working on WebGL"
### I'm getting the below issue when trying to stream video on WebGl. It's working fine on all other platforms
"Error: Loading failed.  File not found, codec not supported, video resolution too high or insufficient system resources"

### 1- Upload a video on vimeo
2- Test in Unity - Working fine
3- Test in Android and iOS - Working fine
4- Test in Web GL and loading is failed

### 2019.2.6f1
### M

[2020-09-22 14:36] parsec3d commented on #126
Most probably a CORS issue, WebGL can´t fetch url´s outside the domain of the installed build, unless you use a proxy, I´m trying to do the same with other assets, still working on a solution.

[2020-11-16 21:01] zahidiekomedia commented on #124
bump.

i am also seeing the same issue. any solution plz.

[2020-11-16 21:08] aholla commented on #124
Hi, from memory, you have to added the avpro to your custom defines in the player setting for it to know to choose teh vimeo option.

[2020-11-16 22:15] zahidiekomedia commented on #124
thanks, i already figure it out. :)

[2020-11-17 16:39] DragontaleStudio commented on #115
Whenever we select a fixed resolution eg X360p, and not the "adaptive" choice, we get the aforementioned ArgumentOutOfRangeException.

Looking into it, it seems like the JSON response doesn't include the "progressive" attribute and thus the progressiveFiles array has 0 length.

[2020-11-17 16:41] DragontaleStudio commented on #111
I had the same exact issue. Unfortunately the token is saved locally on PlayerPrefs. So when you are building through unity cloud, you will get aforementioned error.

[2020-11-24 22:03] wuizstreaming opened #127 "Not able to sync video with current stream time"
### Describe the issue
I have created a mobile application where I use vimeo platform in order to live stream my content from my studio. I am using the unity plugin as my development is with unity. Problem that I face is that I can't find a way through the api to be able to sync the video with the current stream time in case that video stays behind, which is very often the case.

### Steps to repr

[2020-12-07 11:50] devilm4n commented on #125
Hello rankorn, I have the same problem. Did you find a solution?

[2020-12-14 06:13] rankorn commented on #125
No.. and actually had a more severe problem where this plugin crashes my iOS app when I go to the background..
So I currently do not use this.

[2020-12-18 08:01] chalise94 opened #128 "https://github.com/vimeo/vimeo-unity-sdk/issues/115"

[2020-12-18 08:15] #128 closed, assigned to nobody

[2020-12-18 08:17] chalise94 commented on #115
Hello
I am also getting the same issue.
Please let me know if there is a way to run live streams for this sdk?

[2020-12-21 21:16] iiidefektiii opened #129 "Token and Sign in once on a device?"
### Describe the issue
This doesnt work once it leaves the editor. Is it possible to even run on a device? This works fine in the editor by manually getting a token and signing in but after that it doesnt work on any builds. I have tried to manipulate the test config with out the unity tests because it doesnt seem to work in 2020.
### Steps to reproduce the problem
use the testconfig
### Unity ver

[2020-12-21 21:22] iiidefektiii commented on #71
@juniorxsound
This is happening to me as well. I can get a token in the GUI editor and sign in. Plays in the editor but will not play on a device.

Unity 2020.1
Android 11 Pixel 3xl

EDIT: Should've done the Log cat first. Mine was related to this issue.
https://github.com/RenderHeads/UnityPlugin-AVProVideo/issues/50

[2020-12-21 21:54] #129 closed, assigned to nobody

[2020-12-23 17:49] WulfGames commented on #117
Hello, we are also having this problem when trying to reproduce a live video on AvPro.

We get this link loaded on AvPro but it doesn't work:
https://live.vimeocdn.com/1608749269-0x3fa2cfc6dafe89ffbeffbe30995cb71b608fce7b/33619fe3-18f9-4c7c-b89f-7d49609475f7/manifest_mvtime.mpd

The codecs shown on AvPRO:

.m3u8
.mdp
.ism

MPD is the same as MDP?

[AVProVideo] Error: Loading failed.  File not foun

[2020-12-23 18:55] WulfGames opened #130 "Live not working with AvPRO"
### Describe the issue

When trying to reproduce a live video from vimeo having a premium account we get the following error:
[AVProVideo] Error: Loading failed. File not found, codec not supported, video resolution too high or insufficient system resources.
UnityEngine.Debug:LogError(Object)

Anyone using live videos with this SDK?

[2020-12-28 11:50] Canijo56 commented on #130
Bump! We really need a solution. Seems any live video is not working. Can someone confirm if this is even supported? All claims point that it is, but now im not sure

[2020-12-30 09:45] rubit0 opened #131 "Is the Unity SDK still maintained?"
I'm interested in using Vimeo in some upcoming projects for 360° video streaming with Unity, so I like to know if this SDK is still maintained.

[2021-01-01 22:43] frankcarey commented on #131
Unsure - but none of the original people who worked on it remain at Vimeo I think.

[2021-01-02 19:22] rubit0 commented on #131
I suppose you are right, so AVPro it is then I guess.

[2021-01-17 00:58] myrrhai opened #132 "Come Watch @Myrrhai on Vimeo.com"
Leave a comment on my Video(s) on Vimeo about GitHub #twitch #myrrhai #vimeo

[2021-01-17 00:59] #132 closed

[2021-01-25 18:28] jamiew commented on #131
😢 RIP

[2021-01-25 19:08] rubit0 commented on #131
Well I guess there is only AVPro left in the Unity space.

[2021-02-03 12:02] muthuselva commented on #115
I fixed it using avpro and adaptive resolution.

Just replace the isHlsPlatform() function in VimeoVideo.cs with following ,

public bool isHlsPlatform()
        {
            return Application.platform == RuntimePlatform.OSXPlayer ||
                   Application.platform == RuntimePlatform.OSXEditor ||
                   Application.platform == RuntimePlatform.IPhonePlayer ||

[2021-02-10 11:52] Lyraedan commented on #131
@rubit0 If you're still looking you should check out the Universal Media Player (known as UMP) on the asset store.
Supports Windows, Mac, Linux, WebGL and has IOS / Android versions too

[2021-02-12 14:24] Rgascoin opened #133 "WEBGL CORS error"
### Describe the issue
Access to video at 'video_url' from origin 'my_server' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

I don't know if anyone has ever found a solution to this problem, my app is running on an Nginx server with open CORS policies.

[2021-02-15 14:59] AndrewRH commented on #130
Have you tried using AVPro Video 2.0?  And/or have you tried changing the Video API setting to WinRT (it has better streaming support than the default Media Foundation)

[2021-02-15 20:20] WulfGames commented on #130
Hi,

After a lot of research and talking with the different platforms including Vimeo. We found out vimeo has this feature blocked even for premium users. Live API is only available for Enterprise users.

Hope this helps.

[2021-03-06 14:44] zicas2000 commented on #129
@iiidefektiii  Did you find any solution to this issue ?

[2021-03-20 19:49] epicoro commented on #121
If you are using AVPRO make sure you select adaptive resolution and for the vimeo token, do not generate it from "Get Token" button because you will get CORS issue. Instead go to https://developer.vimeo.com/ and create a new app, and  then you can generate a API token and insert it  into Unity. This will fix the CORS issue and you will be able to play the videos from Webgl. Make sure to setup AVPR

[2021-03-20 19:53] epicoro commented on #133
If you are using AVPRO make sure you select adaptive resolution and for the vimeo token, do not generate it from "Get Token" button because you will get CORS issue. Instead go to https://developer.vimeo.com/ and create a new app, and then you can generate a API token and insert it into Unity. This will fix the CORS issue and you will be able to play the videos from Webgl. Make sure to setup AVPRO

[2021-03-20 20:01] #133 closed, assigned to nobody

[2021-03-20 20:01] epicoro commented on #126
If you are using AVPRO make sure you select adaptive resolution and for the vimeo token, do not generate it from "Get Token" button because you will get CORS issue. Instead go to https://developer.vimeo.com/ and create a new app, and then you can generate a API token and insert it into Unity. This will fix the CORS issue and you will be able to play the videos from Webgl. Make sure to setup AVPRO

[2021-03-20 20:02] epicoro commented on #118
If you are using AVPRO make sure you select adaptive resolution and for the vimeo token, do not generate it from "Get Token" button because you will get CORS issue. Instead go to https://developer.vimeo.com/ and create a new app, and then you can generate a API token and insert it into Unity. This will fix the CORS issue and you will be able to play the videos from Webgl. Make sure to setup AVPRO

[2021-03-25 18:36] iiidefektiii commented on #129
@zicas2000    Yes it was user error. I was also working with some player prefs and resetting those will also reset your vimeo token and need to go through the token process again.

[2021-05-08 20:57] germanbv commented on #126
I´m able to play Vimeo videos using the unity media player on WebGL without adaptive resolution. Problem is that 1 out of 25 times I get a CORS error while in the middle of the video because Access-control-allow-origin comes with a value of null. I´m about to stop paying for Vimeo pro and just change the provider.

[2021-07-27 20:30] Mosel3y commented on #126
@germancinho Would you mind giving some pointers on how you got it working?

[2021-07-28 16:57] germanbv commented on #126
this SDK definitely doesn't work well on WebGL, so in the end, I've implemented the Vimeo Player API (https://github.com/vimeo/player.js/) via jslib.

[2021-09-30 04:31] dungnguyen234 commented on #130
@WulfGames  do you have a link for this "Live API is only available for Enterprise users" , please send me a need to report it

[2021-09-30 04:39] WulfGames commented on #130
Hey! report it where? here you go: https://vimeo.zendesk.com/hc/en-us/articles/360042881411-Live-API-access

[2021-09-30 13:51] dungnguyen234 commented on #130
thanks for the cofirmation

[2021-10-07 01:50] pibeardontcare opened #135 "Video URL player works, but I can't use a OnTriggerEnter to activate it."
### Describe the issue

I have triggers on my videos that work to start/stop when videos are imported directly, but not when linked from Vimeo URLs. Is there a way to use my triggers with this SDK? or how can the videos be controlled by the player?

### Unity version
Unity 2020.3

### Operating system
Mac OS 11.6

Thanks in advance!

[2021-10-21 01:56] 1seconds opened #136 "need Technical advice"
Hello. We will contact you for technical advice.

I want to install the Vimeo sdk to stream videos from the app. I upgraded to account pro, and I am using Unity version 2020.1.10f1.

There are two problems, I need a guide.

1. The first move works fine. If you turn off the corresponding canvas and restart it, it does not work well from the second operation. Are there any apis to refer to or any ca

[2021-11-03 17:10] oliverellmers opened #137 "Cannot stream from Vimeo with instantiated prefab containing Vimeo components on iOS"
### Describe the issue

Cannot instantiate prefab containing Vimeo components

### Steps to reproduce the problem

Create prefab containing Vimeo components and instantiate at runtime. The Vimeo component will not stream https:

### Unity version

2020.0.12f1 +

### Operating system

Mac OS Big Sur 11.5.2
XCode 12.5.1

[2021-12-31 08:00] virgilcwylie commented on #136
I use Unity 2019.4 + and Instantiating the prefab didn't work for me. I had to figure out a way to keep the player prefab in the scene and then use it when ever I needed. I simply had to change the url and LoadVideoAndPlay.

[2022-03-23 16:39] LeonardoDemartino commented on #21
This feature will be really helpful.

[2022-04-07 05:30] sharmilhassan opened #138 "Building and Running on Quest 2"
I'm new to Unity and Quest 2  development. Using the VR 360prefab I am able to successfully run it using with the Oculus OVRCameraRig using the Oculus link cable. The video plays in the headset in this mode. However, when I build and run the app standalone in the headset, all I get is a gray screen. I have been unable to figure out how to get it to work as a deployed app. Has anyone else experienc

[2022-04-07 18:57] sharmilhassan commented on #106
I am experiencing a similar problem on Quest 2 (Android platform). I'm new to Unity and Quest 2 development. Using the Unity Vimeo VR 360prefab I am able to successfully run it using with the Oculus OVRCameraRig using the Oculus link cable. The video plays in the headset in this mode. However, when I build and run the app standalone in the headset, all I get is a gray screen. I have been unable to

[2022-04-08 17:42] sharmilhassan commented on #84
@MichealPeters I am experiencing the same issue. Could you please elaborate on the shader you used and how you solved this problem. Thank you

[2022-04-09 18:13] francescocalculli commented on #56
This seems to be an issue again with the latest SDK (2.4.1) and Unity 2020.3.29f in Windows.
Using the SDK in conjunction to AVProVideo.

[2022-04-26 15:24] francescocalculli opened #139 "Video fails to play from Vimeo"
**Describe the issue**
When I try to stream a video from Vimeo to AVPro using VimeoSDK, I get the following error on some videos:

"[AVProVideo] Error: Loading failed. File not found, codec not supported, video resolution too high or insufficient system resources.
UnityEngine.Debug: LogError (object) "

I have tried to do various researches and to apply the various proposed solutions but to no ava

[2022-04-28 17:23] josenunes-ttw opened #140 "Vimeo external player now fails to PLAY latest videos (h parameter)"
### Describe the issue
Hello,

My latest uploaded videos stopped working when accessed from player.video external.

By appending video id with player.vimeo.com/player, 404 is returned.

I checked and after september, h parameter is need which is the 'hash'.
How can I get this? Do I have to change the lib to get this parameter  when querying video?

I am using Unity 2020.3.24f1.
Thanks

[2022-05-03 04:24] danielcv-dev commented on #138
you need to setup the build for android Quest 2.

[2022-05-09 09:13] Pic9236 commented on #139
Same issue.

[2022-05-18 06:30] vinaysshenoy opened #141 "Chunk upload errors are ignored"
It seems like HTTP upload errors for pushing TUS chunks are being ignored.

Before this ([DIFF](https://github.com/vimeo/vimeo-unity-sdk/pull/70/files#diff-cb42a2bc0571b63cc8eadd050d3892f53182a1150e8e4513af6275df1b338263L145)) change, the chunk upload code was checking for both network errors as well as upload errors.

In this PR, the code was changed to delegate to a utility function to check whe

[2022-05-24 14:34] LeonardoDemartino opened #142 "Audio saturation sometimes on iOS devices"
Hello! We are using this SDK and in some cases the audio that comes from the Vimeo server is saturated. It fixes itself by restarting the device or the app. But will re appear at random.
Check the issue captured from an iPhone X device here:
https://user-images.githubusercontent.com/14348106/170060603-c4c27200-94f8-49a3-871d-bb1a8916ad98.MP4

And this is how the video should sound:
https://user-im

[2022-06-03 00:36] Marcosdg3 commented on #97
Any update/eta on this?

[2022-07-19 11:39] LeonardoDemartino opened #143 "Vimeo Analytics doesn't work while using this SDK"
### Describe the issue
From what we can see, each and every one of our videos aren't showing correct analytics data, for example:
https://vimeo.com/706703173
Our consumption in GBs for the video on demands looks fine, 1.8TB in June and 0.8TB so far in July. Pretty normal.
![image](https://user-images.githubusercontent.com/14348106/179740863-c178312d-93af-4bf8-ba90-7a4e3b99146c.png)

However, in th

[2022-10-25 09:10] ClaudiaSchoniger opened #144 "Live Video Streaming with AVPro (Enterprise account)"
### Describe the issue
Can't play live videos from Vimeo (having an Enterprise account) with AVPro. This error message pops up:
![image](https://user-images.githubusercontent.com/77786780/197732325-5fc2144a-85da-41e1-bd35-73ed1015af0a.png)

I think that it is unable to access an live ("/event/") URL, instead of a normal ("/videos/") one (needed for live video streaming on Vimeo as fas as I know).

[2022-11-09 01:16] VicEsquivel commented on #71
@juniorxsound Is it possible to sign in as a new user in play mode? I mean without using the Unity Editor GUI at all. Imagine the next use case:
I generate a build for windows, and I want each individual user to my unity app/game, to sign in with their own account. (They will not have access to the Unity Editor GUI, only to the UI I can enable in the build. So at this moment a new Vimeo Token is g